.filter__row div{
  display: flex;
  flex-wrap: wrap;
}

.filter__row div label{
  width: 100%;
}

.filter__row div input{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.filter__row div select{
  width: 100% !important;
  margin-bottom: 5px;
  margin-top: 5px;
}