.feed-post-important-switch {
  background: none !important;
  position: relative !important;
  width: 24px !important;
  height: 24px !important;
  margin-right: 10px !important;
  &:before, &:after {
    display: none !important;
  }
  &-active .star-icon { background-color: #0000c8}
}

