.favor-filter-item .menu-popup-item-icon {
  width: 10px;
}
.favor-filter-item-selected .menu-popup-item-icon {
  background: url(/bitrix/components/bitrix/socialnetwork.log.filter/templates/.default/images/sprite-subscr.png) no-repeat 100px;
  background-position: center -221px;
}
.favorites-list {
  list-style: none;
  padding-left: 0;
}
.favorites-list li {
  padding: 15px;
}
.favorites-list li:nth-child(2n+1) {
  background: #f1f3f6;
}
.favorites-list li a {
  color: #282828;
}
.favorites-list li a span {
  border-bottom: 1px solid rgba(40, 40, 40, 0.5);
}
.favorites-list li a:hover span {
  border-bottom: none;
}
.delete-action {
  cursor: pointer;
}
