.date-control-icon_inv {
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANAgMAAADgR2fRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX///////9MTNgjsO2nAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfSURBVAjXYwgNDWUAYRAAszOXQjCQHQWko+BsCAayAVDnDcG5wJE6AAAAAElFTkSuQmCC');
  margin-left: -12px;
  margin-right: 0;
}
