.feed-com-block .feed-post-more-link {
    border-bottom: none !important;
    display: inline-block;
    padding-right: 11px;
    position: relative;
    color: #999;
    font-size: 11px;
    font-weight: normal;
    margin: 1px 0 0 12px;
}

.feed-com-block .feed-post-more-link-N-N-N-N {
    display: none;
}

.feed-com-block .feed-post-more-text {
    border-bottom: 1px solid transparent;
    -webkit-transition: border-bottom-color 0.2s linear;
    transition: border-bottom-color 0.2s linear;
    font-size: 11px;
}

.feed-com-block .feed-post-more-arrow {
    background: url("images/sprite.png?v=1") no-repeat -108px 0;
    height: 3px;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 5px;
    width: 7px;
}

.feed-com-block .feed-post-text-more {
    background-image: -webkit-linear-gradient(top, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
    background-image: linear-gradient(to bottom, rgba(245, 247, 248, 0.3), rgba(245, 247, 248, 1) 23px);
    top: 178px;
}

.feed-com-block-new .feed-post-text-more {
    background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(245, 247, 248, 1) 24px);
    background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(245, 247, 248, 1) 24px);
}

.feed-com-block-new.feed-com-block-uf .feed-post-text-more {
    background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
    background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
}

.feed-com-block .feed-post-text-more-but {
    background: none;
    display: block;
    border-bottom: 1px solid #e9edf0;
    height: 23px;
    margin: 0 0 0 86px;
    position: relative;

    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
}

.feed-com-block .feed-post-text-more:hover .feed-post-text-more-but {
    border-color: #ced2d6;
}

.feed-com-block .feed-post-text-more-but:before {
    background: url("images/sprite.png?v=1") no-repeat 25px -12px #fff;
    border: 1px solid #e6eaec;
    border-bottom: none;
    bottom: -1px;
    content: '';
    height: 21px;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    width: 63px;

    -webkit-transition: border-color 0.2s linear;
    transition: border-color 0.2s linear;
}

.feed-com-block .feed-post-text-more:hover .feed-post-text-more-but:before {
    border-color: #ced2d6;
}

.feed-com-block .feed-post-text-more-but {
    margin-left: 0;
}

.feed-com-block .feed-post-text-more-but:before {
    background-color: #f5f7f8;
}

.feed-com-block.feed-com-block-pointer {
    -webkit-animation: feed-com-block-point-message 2s linear 1;
    animation: feed-com-block-point-message 2s linear 1;
}

@-webkit-keyframes feed-com-block-point-message {
    20% {
        background-color: #fbf2c8;
    }
    100% {
        background-color: inherit;
    }
}

@keyframes feed-com-block-point-message {
    20% {
        background-color: #fbf2c8;
    }
    100% {
        background-color: inherit;
    }
}

.feed-com-block.feed-com-block-pointer-to-new {
    -webkit-animation: feed-com-block-point-new-message 1s linear 1;
    animation: feed-com-block-point-new-message 1s linear 1;
}

@-webkit-keyframes feed-com-block-point-new-message {
    20% {
        background-color: #fbf2c8;
    }
    100% {
        background-color: #fffcee;
    }
}

@keyframes feed-com-block-point-new-message {
    20% {
        background-color: #fbf2c8;
    }
    100% {
        background-color: #fffcee;
    }
}

.feed-com-block.feed-com-block-read {
    background-color: transparent;
    -webkit-transition: background-color 1s linear 1s;
    transition: background-color 1s linear 1s;
}

.feed-com-block.feed-com-block-hidden {
    background-color: #F0F0F0;
}

.feed-com-block-new .feed-post-text-more-but:before {
    background-color: #fffcee;
}

.feed-com-corner {
    position: absolute;
    left: 26px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #f5f7f8 transparent;
}

.feed-post-block-yellow-corner.feed-com-corner {
    border-color: transparent transparent #fffcee transparent;
}

.feed-post-block-corner-fade.feed-post-block-yellow-corner.feed-com-corner {
    -webkit-animation: feed-com-corner-fade 1s linear forwards;
    animation: feed-com-corner-fade 1s linear forwards;
}

@-webkit-keyframes feed-com-corner-fade {
    20% {
        border-color: transparent transparent #fffcee transparent;
    }
    100% {
        border-color: transparent transparent #f5f7f8 transparent;
    }
}

@keyframes feed-com-corner-fade {
    20% {
        border-color: transparent transparent #fffcee transparent;
    }
    100% {
        border-color: transparent transparent #f5f7f8 transparent;
    }
}

.feed-com-header {
    border-bottom: 2px solid #fff;
    height: 38px;
    line-height: 37px;
    padding-left: 16px;
}

.feed-com-block {
    border-bottom: 2px solid #fff;
    min-height: 40px;
    overflow: hidden;
    padding: 14px 25px 15px 72px;
    position: relative;
}

.feed-com-block-new {
    background-color: #fffcee;
}

.feed-com-block-uf.feed-com-block {
    padding-bottom: 7px;
}

.feed-com-avatar {
    background: url("images/sprite.png?v=1") no-repeat -51px 4px #535c6a;
    border-radius: 50%;
    height: 39px;
    left: 19px;
    overflow: hidden;
    position: absolute;
    top: 12px;
    width: 39px;
}

.feed-com-avatar img {
    width: 39px;
    height: 39px;
    background-color: #fff;
}

.bx-opera .feed-com-avatar img {
    border-radius: 50%;
}

.feed-com-name {
    border-bottom: 1px solid transparent;
    color: #0b66c3;
    display: block;
    font-size: 13px;
    float: left;
    line-height: 14px;
    font-weight: bold;
    margin-right: 5px;
    text-decoration: none;
    vertical-align: top;
}

.feed-com-name:hover {
    border-bottom: 1px solid;
    text-decoration: none;
}

.feed-com-text {
    clear: both;
    font-size: 13px;
    line-height: 20px;
    margin-right: -25px;
    overflow: hidden;
    padding-top: 2px;
    position: relative;
}

.feed-com-block-uf .feed-com-text {
    margin-bottom: 7px;
}

.feed-com-text-inner {
    max-height: 200px;
    max-width: 820px;
    overflow: hidden;
    padding-right: 3%;
}

.feed-com-text-inner-inner {
    word-wrap: break-word;
    overflow-x: auto;
}

.feed-com-text-inner-inner .bx-smile {
    vertical-align: text-bottom;
}

/* date, rating, reply, more */
.feed-com-informers {
    color: #999;
    display: block;
    /*float: left;*/
    font-size: 11px;
    line-height: 14px;
    margin-left: 3px;
    margin-top: 15px;
}

.feed-com-informers a,
.feed-com-informers a:hover {
    text-decoration: none;
    font-size: 11px;
    color: #999;
}

.feed-com-informers .ilike-light .bx-ilike-right {
    height: 14px !important;
    padding: 0 1px 0 14px !important;
    font-size: 11px;
    background-position: 0 -43px;
}

.feed-com-informers .ilike-light .bx-you-like .bx-ilike-right {
    background-position: 0 -23px;
}

.ilike-light .bx-ilike-button {
    -moz-user-select: none;
    color: #929292;
    display: inline-block;
    height: 14px !important;
    position: relative;
}

.ilike-light .bx-ilike-right-wrap {
    height: auto !important;
}

.feed-com-informers .feed-inform-ilike-icon {
    margin-left: 6px;
}

.feed-com-informers .feed-com-reply {
    color: #999999;
    margin-left: 10px;
}

/* date, rating, reply, more */

.feed-com-add-block {
    padding: 14px 17px 13px 71px;
    position: relative;
}

@media screen and (max-width: 1100px) {
    .feed-com-add-block {
        padding-left: 17px;
    }

    .feed-com-add-block .feed-com-avatar {
        display: none;
    }

    .table.files-list td.files-del-btn,
    .table.files-list td.files-del-btn .del-but {
        width: 15px;
    }

    .table.files-list td.files-info .insert-btn, table.files-list td.files-info .insert-text {
        font-size: 11px;
    }

    table.files-list tr .files-storage span {
        display: block;
    }

    .feed-add-post-loading-wrap {
        width: 97%;
    }
}

.feed-com-add-block .feed-com-avatar {
    left: 19px;
    position: absolute;
    top: 11px;
}

.feed-com-add-block .feed-add-post-edit-block {
    border-left: medium none;
    border-right: medium none;
}

.feed-com-add-block .feed-add-photo-block {
    width: 79px;
}

.feed-com-add-block .feed-add-img-error {
    height: 69px;
}

.feed-com-add-block .feed-add-post-load-img {
    background-position: 0 -185px;
    height: 48px;
    left: 32px;
    top: 17px;
    width: 54px;
}

.feed-com-add-block .feed-add-post-load-place {
    font-size: 14px;
    line-height: 20px;
    padding: 19px 0 21px 114px;
}

.feed-com-add-block .feed-add-post-load-place:hover {
    border-width: 2px;
    padding: 17px 0 19px 112px;
}

.feed-com-add-block .feed-add-post-load-place:hover .feed-add-post-load-img {
    background-position: 0 -237px;
    left: 30px;
    top: 15px;
}

a.feed-author-name-0 {
    display: none;
}

span.feed-author-name {
    display: none;
}

span.feed-author-name-0 {
    display: inline-block;
}

a.feed-com-reply-N, a.feed-com-reply- {
    display: none;
}

div.feed-com-avatar-Y {
    background: none;
}

.feed-com-avatar.feed-com-avatar-Y img {
    background-color: #FFFFFF;
}

.feed-com-avatar.feed-com-avatar-N img {
    display: none;
}

.blog-comment-popup-menu input {
    border: 1px solid;
    border-color: #b9bcbe #bdc1c3 #c1c5c8;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
    box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 29px;
    color: #474747;
    padding: 0 0 0 8px;
    width: 100%;
}

.feed-com-footer {
    cursor: pointer;
    height: 60px;
}

.feed-com-add {
    cursor: pointer;
    float: left;
    height: 40px;
    margin-top: 11px;
    padding: 0 27px 0 72px;
    position: relative;
}

.feed-com-loader {
    border: 1px solid #80868e;
    border-radius: 50%;
    height: 15px;
    top: 7px;
    right: 7px;
    position: absolute;
    width: 15px;
}

.feed-com-loader:before,
.feed-com-loader:after {
    background-color: #80868e;
    content: '';
    left: 7px;
    position: absolute;
}

.feed-com-loader:before {
    height: 1px;
    top: 7px;
    width: 5px;
}

.feed-com-loader:after {
    height: 6px;
    top: 2px;
    width: 1px;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

.feed-com-block .feed-com-loader {
    display: block;
}

.feed-com-block .feed-com-loader:after {
    animation: feed-con-add-clock 1s linear infinite;
}

@-webkit-keyframes feed-con-add-clock {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }

    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes feed-con-add-clock {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.feed-com-add .feed-com-avatar {
    left: 19px;
    position: absolute;
    top: 0;
}

.feed-com-add-link {
    border-bottom: 1px solid transparent;
    color: #80868e;
    display: inline-block;
    font-size: 13px;
    margin-top: 11px;
    line-height: normal;
    vertical-align: top;

    -webkit-transition: border-bottom-color 0.2s linear;
    transition: border-bottom-color 0.2s linear;
}

.feed-com-add:hover .feed-com-add-link,
.feed-com-add-link:hover {
    color: #80868e;
    border-bottom-color: #80868e;
}

.feed-com-writers {
    margin-top: 11px;
    float: right;
    padding-right: 20px;
}

.feed-com-writers-wrap .feed-com-avatar {
    display: inline-block;
    margin-right: 4px;
    position: static;
    vertical-align: top;
}

.feed-com-writers-wrap {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    max-width: 509px;
    white-space: nowrap;
}

@media screen and (max-width: 1550px) {
    .feed-com-writers-wrap {
        max-width: 369px;
    }
}

@media screen and (max-width: 1400px) {
    .feed-com-writers-wrap {
        max-width: 228px;
    }
}

@media screen and (max-width: 1250px) {
    .feed-com-writers-wrap {
        max-width: 134px;
    }
}

.feed-com-writers-pen {
    background: url(images/feed-comm-pen.gif) no-repeat 0 0;
    display: inline-block;
    height: 12px;
    margin: 14px 0 0 9px;
    vertical-align: top;
    width: 27px;
}

.feed-error-block {
    min-width: 200px;
    color: red;
}

.feed-error-title {
    background: url("images/sprite.png?v=1") no-repeat 0 -32px;
    padding-left: 36px;
    margin: 2px 0 0 2px;
}

/*=========================== copy link ======================*/

.comment-menu-link-icon-wrap {
    position: relative;
    display: inline-block;
    margin: 0 0 0 5px;
    height: 12px;
    width: 0;
    vertical-align: middle;
    overflow: hidden;
}

.comment-menu-link-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 11px;
    height: 10px;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2014%2012%22%3E%3Cpath%20fill%3D%22%233674C4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.103%208.412L1.456%205.765%200%207.22l3.494%203.494.004-.004.638.638L14%201.484%2012.516%200%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
}

.comment-menu-link-icon-animate.comment-menu-link-icon-wrap {
    -webkit-animation: animate-width 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation: animate-width 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@-webkit-keyframes animate-width {
    100% {
        width: 12px;
    }
}

@keyframes animate-width {
    100% {
        width: 12px;
    }
}

.feed-post-informers {
    background: none;
    padding-bottom: 20px;
}
.feed-post-informers > div {
    display: flex;
}

.feed-post-informers a, .feed-com-informers a {
    text-transform: uppercase;
    color: #0000c8 !important;
    line-height: 25px;
    border-bottom: 1px solid rgba(0, 0, 200, 0.5);
    font-size: 11px;
}
.feed-time, .feed-time a, .feed-post-time-wrap a {
    color: #8993a2 !important;
    border-bottom: none;
    text-decoration: none;
}


.feed-post-text-block,
.feed-add-post-destination-new,
.feed-post-link-new:link,
.feed-add-post-destination-new:link,
.feed-post-link-new:visited,
.feed-add-post-destination-new:visited,
.feed-post-link-new:hover,
.feed-post-link-new:active,
.feed-add-post-destination-new:active {
    color: #282828;
}
.feed-post-item {
    text-shadow: none;
}
.feed-com-name, .feed-post-user-name:link, .feed-post-user-name:visited, .feed-post-user-name:active {
    color: #282828;
    border-bottom-color: rgba(40, 40, 40, 0.5);
}
.feed-inform-ilike {
    width: 24px;
}
.feed-inform-comments, .feed-inform-ilike, .feed-inform-follow {
    margin-right: 10px;
}

/*=========================== end copy link ======================*/