.socialnetwork-profile {
  &__avatar {

    float: left;
    margin-right: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }
  &__name {
    float: left;
  }
}