.socialnetwork-profile__avatar {
  float: left;
  margin-right: 10px;
}
.socialnetwork-profile__avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.socialnetwork-profile__name {
  float: left;
}
