
/* Top controls */
form.bxiu-photo-form {
    padding: 0;
    margin: 0;
}

div.bxiu-top-bar {
    background: #F2F2F2 !important;
    border: 1px solid #DFDFDF;
    height: 31px;
}

div.bxiu-album-cont {
    margin: 5px 5px 0 10px;
    float: left;
}

div.bxiu-album-cont select {
    max-width: 300px;
}

div.bxiu-top-bar a.bxiu-add-set-link {
    color: #0069C4;
    margin: 9px 5px 0 10px;
    border-bottom: 1px dashed #0069C4;
    text-decoration: none !important;
    float: left;
    font-weight: bold;
    font-family: Verdana !important;
    font-size: 12px !important;
}

div.bxiu-top-bar a.bxiu-mode-link {
    display: block;
    float: right;
    color: #2E2E2E !important;
    text-decoration: underline !important;
    margin: 9px 10px 0 0;
    font-family: Verdana !important;
    font-size: 12px !important;
    font-weight: bold;
}

div.bxiu-add-params {
    background: #ffffff;
    border: 1px solid #DFDFDF;
    border-top: none;
    display: none;
    text-align: left;
}

.bxu-thumbnails-settings-are .bxiu-add-params {
    display: block !important;
}

.bxiu-settings {
    max-width: 50%;
    float: left;
    margin: 5px 0;
    padding: 10px 20px;
}

.bxiu-settings:last-child {
    border-left: 1px solid #DFDFDF;
}

.bxiu-settings:first-child {
    border-left: none;
}

.bxiu-watermark-cont, .bxiu-watermark-image, .bxiu-watermark-text {
    display: none;
}

.bxiu-watermark-checked .bxiu-watermark-cont, .bxiu-watermark-image-checked .bxiu-watermark-image, .bxiu-watermark-text-checked .bxiu-watermark-text {
    display: block;
}

div.bxiu-watermark-image input {
    float: left;
}

iframe.bxiu-watermark-iframe {
    height: 25px;
    border-width: 0;
    display: block;
    float: left;
    width: 250px;
    overflow: hidden;
    display: block;
    float: left;
}

div.bxiu-watermark-image-but-cont {
    float: left;
    height: 20px;
}

div.bxiu-watermark-types label, div.bxiu-watermark-types input {
    display: block;
    float: left;
}

div.bxiu-watermark-text-but-cont {
    float: left;
    height: 20px;
    overflow: hidden;
}

/* Controls*/
div.bxiu-but-cont {
    float: left;
    margin: 2px 3px;
}

div.bxiu-but {
    background-image: url("images/sprite.png");
    width: 17px;
    height: 17px;
    cursor: pointer;
    margin: 0 !important;
    padding: 0 !important;
}

/* Popup*/
div.bxiu-popup-but {
}

/*Overlay*/
.bxiu-trans-overlay {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -moz-user-select: none !important;
    display: none;
    background-color: #FFFFFF;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

/* Copyright*/
div.bxiu-copyright {
    background-position: -64px -107px;
}

div.bxiu-copyright-none {
    background-position: -82px -107px !important;
}

input.bxiu-watermark-text-inp {
    background: #fff;
    padding: 0;
    width: 193px;
}

input.bxiu-show-copyright {
    background: #fff url("images/copyright.gif") no-repeat -1px -1px;
    padding: 0 0 0 18px !important;
    width: 175px !important;
}

/*Colorpicker*/
div.bxiu-color-but {
    width: 15px;
    height: 15px;
    background-position: -83px -128px;
    background-color: red;
}

/*colorpicker*/
div.wm-colpick-cont {
    position: absolute;
    border: 1px solid #808080;
    background-color: #E4E2DC;
    display: none;
    width: 322px;
    top: -1000px;
    left: -1000px;
}

table.wm-colpic-tbl {
    border-collapse: separate !important;
}

table.wm-colpic-tbl td.wm-col-cell {
    width: 16px;
    height: 16px;
    border: 1px solid #808080;
    font-size: 5px !important;
}

table.wm-colpic-tbl td.wm-col-cell-over {
    border: 1px solid #FFC678 !important;
}

td.wm-color-inp-cell {
    height: 25px;
}

span.wm-colpic-def-but {
    background-color: #E4E2DC;
    border: 1px solid #808080;
    display: block;
    margin: 1px;
    font-size: 12px !important;
    padding: 3px;
    text-align: center !important;
    vertical-align: middle !important;
    cursor: default;
}

span.wm-colpic-def-but-over {
    background-color: #FFC678;
    border: 1px solid #4B4B6F;
}

/* Position */
div.bxiu-but-position_text {
    width: 18px;
    height: 18px;
}

div.bxiu-pos-popup {
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    width: 69px !important;
    height: 69px !important;
}

div.bxiu-pos-popup div {
    background-image: url("images/sprite.png");
    background-repeat: no-repeat;
    width: 18px !important;
    height: 18px !important;
    margin: 2px 0 0 2px !important;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    float: left;
    cursor: pointer;
}

div.bxiu-pos-popup div.bxiu-active {
    border: 1px solid #c0c0c0 !important;
}

div.bxiu-but-pos-topleft {
    background-position: -44px -47px;
}

div.bxiu-but-pos-topcenter {
    background-position: -62px -47px;
}

div.bxiu-but-pos-topright {
    background-position: -80px -47px;
}

div.bxiu-but-pos-centerleft {
    background-position: -44px -65px;
}

div.bxiu-but-pos-center {
    background-position: -62px -65px;
}

div.bxiu-but-pos-centerright {
    background-position: -80px -65px;
}

div.bxiu-but-pos-bottomleft {
    background-position: -44px -83px;
}

div.bxiu-but-pos-bottomcenter {
    background-position: -62px -83px;
}

div.bxiu-but-pos-bottomright {
    background-position: -80px -83px;
}

/* Size*/
div.bxiu-text-size-popup {
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    width: 24px !important;
    height: 69px !important;
}

div.bxiu-text-size-popup div {
    background-image: url("images/sprite.png");
    background-repeat: no-repeat;
    width: 18px !important;
    height: 18px !important;
    margin: 2px 0 0 2px !important;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    float: left;
    cursor: pointer;
}

div.bxiu-text-size-popup div.bxiu-active {
    border: 1px solid #c0c0c0 !important;
}

div.bxiu-but-t-size-big {
    background-position: -44px -1px;
}

div.bxiu-but-t-size-middle {
    background-position: -62px -1px;
}

div.bxiu-but-t-size-small {
    background-position: -80px -1px;
}

/* Image size */
div.bxiu-img-size-popup {
    position: absolute;
    display: none;
    background: #ffffff;
    border: 1px solid #c0c0c0;
    width: 24px !important;
    height: 89px !important;
}

div.bxiu-img-size-popup div {
    background-image: url("images/sprite.png");
    background-repeat: no-repeat;
    width: 18px !important;
    height: 18px !important;
    margin: 2px 0 0 2px !important;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    float: left;
    cursor: pointer;
}

div.bxiu-img-size-popup div.bxiu-active {
    border: 1px solid #c0c0c0 !important;
}

div.bxiu-but-i-size-real {
    background-position: -27px -25px;
}

div.bxiu-but-i-size-big {
    background-position: -45px -25px;
}

div.bxiu-but-i-size-middle {
    background-position: -63px -25px;
}

div.bxiu-but-i-size-small {
    background-position: -81px -25px;
}

/* Preview image*/
div.bxiu-watermark-preview {
    margin: 5px;
    display: none;
    max-width: 200px;
    position: relative;
}

div.bxiu-watermark-preview div.bxiu-watermark-image-preview {
    max-width: 100%;
    max-height: 100%;
}

div.bxiu-watermark-preview img.bxiu-watermark-image-preview {
    max-width: 100%;
    max-height: 100%;
}

div.bxiu-watermark-preview div.bxiu-file-del {
    background: url("images/sprite.png") no-repeat -81px -169px transparent;
    width: 22px;
    height: 22px;
    position: absolute;
    right: -11px;
    top: -11px;
    cursor: pointer;
    display: none;
}

a.bxiu-preview-del-link {
    font-family: Verdana;
    font-size: 11px;
    display: block;
    margin: 3px 0 5px 20px;
}

/* Opacity */
div.bxiu-opacity-cont {
    position: relative;
    float: left;
    top: -20px;
}

div.bxiu-img-opacity-cont {
    position: relative;
    float: left;
    left: 31px;
    top: -20px;
}

div.bxiu-opacity {
    height: 50px;
}

div.bxiu-opacity div.bxiu-opacity-label {
    height: 16px;
    width: 100%;
    color: #303030;
    font-size: 12px;
    font-family: Verdana;
    border-width: 0 0 1px 0;
    border-color: #E0E0E0;
    border-style: solid; /*padding: 0 18px 0 18px!important; */
    padding: 0;
    margin: 0 !important;
    line-height: 12px !important;
    width: 150px;
    text-align: center;
}

div.bxiu-opacity div.bxiu-op-div {
    height: 20px;
    margin: 4px 0 0 0 !important;
}

div.bxiu-opacity div.bxiu-op-div div.bxiu-op-val-cont {
    float: left;
    height: 21px;
    cursor: pointer;
    margin: 0 !important;
}

div.bxiu-op-val-cont div.bxiu-op-l-corn, div.bxiu-op-val-cont div.bxiu-op-r-corn {
    float: left;
    background-image: url("images/sprite.png");
    height: 21px;
    width: 5px;
    display: none;
}

div.bxiu-op-val-cont div.bxiu-op-center {
    float: left;
    border-width: 0 !important;
    height: 21px !important;
    margin: 0 5px;
}

div.bxiu-op-val-cont div.bxiu-op-center span {
    font-family: Verdana !important;
    font-size: 12px !important;
    color: #BDBDBD !important;
    line-height: 12px;
    margin: 4px 0 0 0;
    display: block;
}

div.bxiu-op-val-cont div.bxiu-op-l-corn {
    background-position: -63px -147px;
}

div.bxiu-op-val-cont div.bxiu-op-r-corn {
    background-position: -93px -147px;
}

div.bxiu-op-val-cont-active div.bxiu-op-center span {
    color: #303030 !important;
    margin: 3px 0 0 0 !important;
}

div.bxiu-op-val-cont-active div.bxiu-op-center {
    margin: 0 !important;
}

div.bxiu-op-val-cont-active div.bxiu-op-l-corn, div.bxiu-op-val-cont-active div.bxiu-op-r-corn {
    display: block !important;
}

div.bxiu-op-val-cont-active div.bxiu-op-center {
    border-width: 1px 0 1px 0 !important;
    border-style: solid;
    border-color: #DEDEDE;
    height: 19px !important;
}

.photo-quirks-mode div.bxiu-op-val-cont-active div.bxiu-op-center {
    zoom: 1;
    border-width: 1px 0 1px 0 !important;
    border-style: solid;
    border-color: #DEDEDE;
    height: 21px !important;
}

div.bxiu-buttons {
    margin: 10px;
}

div.bxiu-simple-cont {
    float: left;
    width: 100%;
    margin: 10px 0;
}

/* Simple uploader  */
.bxiu-field-upload {
    height: 30px;
    overflow: hidden;
    position: relative;
}

.bxiu-field-upload input.bxiu-fake-input {
    font-size: 150px;
    height: 50px;
    cursor: default;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
    position: absolute;
    top: -10px;
    left: -400px;
    width: 500px;
}

input.bxiu-add-files-but {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    text-decoration: none !important;
    outline: medium none;
}

.bxiu-files-list {
    margin: 0 0 10px 15px;
    padding: 0;
}

.bxiu-files-list div.bxiu-file-cont {
    background: #ffffff;
    margin: 5px 15px 0 0;
    display: block;
    position: relative;
    float: left;
}

div.bxiu-file-cont div.bxiu-file-thumb {
    border: 1px solid #C7C7C7;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}

div.bxiu-file-cont div.bxiu-file-thumb img {
    position: absolute;
    top: 0;
    left: 0;
}

div.bxiu-file-cont div.bxiu-file-title {
    color: #000000;
    margin: 3px 0 0 3px !important;
    font-family: Verdana;
    font-size: 10px;
    font-weight: normal;
    overflow: hidden;
    height: 27px;
}

div.bxiu-file-cont div.bxiu-file-del {
    background: url("images/sprite.png") no-repeat -81px -169px transparent;
    width: 22px;
    height: 22px;
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
}

div.bxiu-loading div.bxiu-file-thumb {
    background: url("images/wait.gif") center center #ffffff no-repeat !important;
}

div.bxiu-loading div.bxiu-file-title {
    color: #7F7F7F !important;
}

div.bxiu-loading div.bxiu-file-del {
    display: none !important;
}

.bxiu-notice-applet {
    border: 1px solid #DFDFDF;
    background-color: #F2F2F2;
    margin: 10px 0 !important;
    display: inline-block;
    padding: 0 15px;
}

.bxiu-notice-applet p {
    margin: 12px 0 !important;
    padding: 0 !important;
}
.album-upload-category {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    span {
      width: 100%;
      @media all and (min-width: 768px) {
        width: auto;
      }       
    }
}
.pg-select, .bxu-top-block-inp {
    margin-right: 10px;
    background: none;
}
.bxu-start-block-text {
    color: #9e9e9e;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    display: none;
    @media all and (min-width: 768px) {
        display: block;
    }
}

.bxu-start-block-description {
    color: #9e9e9e;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin-top: 1%;
}



.bx-uploader {
    background-color: #f8fafb;
    border: 1px solid;
    border-color: #d9e4e7 #d9e4e7 #d4dfe2;
    border-top: none;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 1px 2px #e3e5e5;
    box-shadow: 0 1px 2px #e3e5e5;
}

.bxu-thumbnails {
    padding: 0 2px;
}

.bxu-start-block {
    display: none;
    overflow: hidden;
    position: relative;
}

.bxu-thumbnails-start .bxu-start-block {
    display: block;
}

.bxu-start-block-cont {
    top: 35%;
    left: 9.5%;
    position: absolute;
    width: 81%;
}


.bxu-start-block-btn {
    position: relative;
    margin-bottom: 2.5%;
}



.bxu-start-block-spacer-div {
    position: relative;
    display: none;
    width: 100%;
    max-width: 100%;
    margin: 5% auto 2.5%;
		overflow: hidden;
		@media all and (min-width: 768px) {
    	display: block;
    }
}

.bxu-start-block-spacer-div input {
    display: none;
}

.bxu-start-block-spacer-img {
    border: 2px dashed #bcd2e5;
    border-radius: 5px;
    display: block;
    /*margin: 5% auto 2.5%;*/
    width: 99%;
    height: 250px;
}

.bxu-start-block-spacer-div input {
    height: 100%;
    width: 200%;
    cursor: pointer !important;
    opacity: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 0 !important;
    z-index: 120;
}

.bxu-top-block {

}

.bxu-top-block-inner {
    width: 100%;
    position: relative;
}

.bxu-settings-block {
    position: absolute;
    top: 1px;
    right: 0;
}

.bxu-thumbnails-loading .bxu-settings-block {
    display: none;
}

.bxu-settings-block-templates {
    display: inline-block;
    vertical-align: middle;
}

.bxu-templates-btn {
    display: inline-block;
    border: 1px solid;
    border-color: #dcdede #d2d8da #cbd3d6;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    height: 23px;
    position: relative;
    vertical-align: top;
    width: 25px;
    background-color: #fff;
}

.bxu-templates-btn:first-child {
    border-radius: 3px 0 0 3px;
    border-right: none;
}

.bxu-templates-btn:last-child {
    border-left: none;
}

.bxu-templates-btn-active:first-child {
    border-right: 1px solid #bec5cb;
    border-radius: 2px 0 0 2px;
}

.bxu-templates-btn-active:last-child {
    border-left: 1px solid #bec5cb;
    border-radius: 0 2px 2px 0;
}

.bxu-templates-btn-small:before,
.bxu-templates-btn-big:before {
    background: url(images/photogallery-sprite.png) no-repeat 100px 100px;
    content: '';
    height: 14px;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 16px;
}

.bxu-templates-btn-small:before {
    background-position: center -44px;
}

.bxu-templates-btn-big:before {
    background-position: center 0;
}

.bxu-templates-btn-active {
    border-color: #acb1b8 #b4bbc1 #c9d2d5 #c9d2d5;
    background-color: #dde6e8;
    background-image: -webkit-linear-gradient(top, #dce3e6, #dee8ea);
    background-image: -moz-linear-gradient(top, #dce3e6, #dee8ea);
    background-image: -ms-linear-gradient(top, #dce3e6, #dee8ea);
    background-image: -o-linear-gradient(top, #dce3e6, #dee8ea);
    background-image: linear-gradient(to bottom, #dce3e6, #dee8ea);
    -webkit-box-shadow: inset 0 1px 1px #b4babf;
    box-shadow: inset 0 1px 1px #b4babf;
    cursor: auto;
    width: 24px;
}

.bxu-templates-btn-active:last-child:before {
    left: 4px;
}

.bxu-set-btn {
    background: url(images/photogallery-sprite.png) no-repeat 10px -73px;
    border-left: 1px solid #c9d0d3;
    -webkit-box-shadow: inset 1px 0 0 #fafbfc;
    box-shadow: inset 1px 0 0 #fafbfc;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    margin-left: 5px;
    padding-left: 33px;
    vertical-align: middle;
    height: 22px;
}

.bxu-set-btn:hover {
    text-decoration: underline;
}

.bxu-loading-block {
    display: none;
    vertical-align: middle;
}

.bxu-thumbnails-loading .bxu-loading-block {
    display: inline-block;
}

.bxu-thumbnails-loading .bxu-settings-block {
    display: none;
}

.bxu-loading-block-bar {
    background-color: #dee9ec;
    border: 1px solid;
    border-color: #c2cace #d1dadd #ccd8da;
    -webkit-box-shadow: 0 1px 0 #f7f9fa, inset 0 1px 0 #d6e1e4;
    box-shadow: 0 1px 0 #f7f9fa, inset 0 1px 0 #d6e1e4;
    border-radius: 4px;
    display: inline-block;
    height: 5px;
    margin: 0 18px 0 20px;
    vertical-align: middle;
    position: relative;
    width: 110px;
}

.bxu-loading-block-bar-inner {
    background-color: #737d8a;
    background-image: -webkit-linear-gradient(top, #87929d, #6d7683);
    background-image: -moz-linear-gradient(top, #87929d, #6d7683);
    background-image: -ms-linear-gradient(top, #87929d, #6d7683);
    background-image: -o-linear-gradient(top, #87929d, #6d7683);
    background-image: linear-gradient(to bottom, #87929d, #6d7683);
    border: 1px solid;
    border-color: #9da5b1 #7e90a2 #58768f;
    border-radius: 4px;
    height: 5px;
    top: -1px;
    left: -1px;
    position: absolute;
}

.bxu-loading-block-text {
    color: #fff;
    display: inline-block;
    font-size: 13px;

    vertical-align: middle;
}

.bxu-loading-block-cancel-btn {
    color: #a1b7d9;
    cursor: pointer;
    font-size: 14px;
    margin-left: 15px;

    text-decoration: underline;
}

.bxu-main-block {
    margin: -1px 2px 0;
    padding: 23px 0 7px;
}

.bxu-thumbnails-start .bx-main-block {
    padding: 0;
}

.bxu-items, .bxu-item {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.bxu-items {
    overflow-y: auto;
    padding: 2px 0 4px 1%;
}

.bxu-thumbnails-start .bxu-items {
    display: none;
}

.bxu-item {
    display: inline-block;
    margin-bottom: 35px;
    max-width: 380px;
    min-width: 210px;
    vertical-align: top;
    width: 16.6%;
}

.bxu-item-block {
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 4px 0 1px rgba(1, 2, 2, .15);
    box-shadow: 0 1px 3px 0 rgba(1, 2, 2, .15);
    display: block;
    margin: 0 6%;
    position: relative;
}

.bx-ie8 .bxu-item-block {
    border: 1px solid #eaeced;
}

.bx-ie8 .bxu-item-block:hover {
    border: 1px solid #cfd0d1;
}

.bxu-item-block-top {
    background-color: #fff;
    display: block;
    position: relative;
}

.bxu-spacer {
    border: none;
    display: block;
    width: 100%;
}

.bxu-item-block-preview {
    top: 0;
    left: 0;
    height: 100%;
    text-align: center;
    position: absolute;
    width: 100%;
}

.bx-bxu-thumb-preview, .bx-bxu-canvas {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.bx-bxu-canvas:before {
    display: inline-block;
    content: '';
    height: 100%;
    margin-left: -1px;
    vertical-align: middle;
    width: 1px;
}

.bxu-item-loading .bxu-item-block-preview {
    display: none;
}

.bxu-item-alinment {
    display: block;
    height: 100%;
    width: 100%;
}

.bxu-item-block-preview img, .bxu-item-block-preview canvas {
    border: none;
    display: inline-block;
    max-height: 93%;
    max-width: 93%;
    vertical-align: middle;
    height: auto !important;
    width: auto !important;
}

.bxu-item-block-bottom {
    background-color: #fff;
    border-top: 1px solid #f2f2f2;
    display: block;
    height: 36px;
    overflow: hidden;
}

.bx-ie8 .bxu-item-block-bottom {
    background: none;
}

.bxu-item-block-desc {
    display: block;
    padding-left: 10px;
    overflow: hidden;
}

.bxu-item-thumb-description-inp {
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    display: block;
    height: 36px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.bxu-item-block-setting {
    float: right;
    padding: 6px 3px 0 0;
}

.bxu-item-btn {
    background: url(images/photogallery-sprite.png) no-repeat 100px 100px;
    cursor: pointer;
    display: inline-block;
    height: 24px;
    margin-left: 5px;
    opacity: 0.6;
    vertical-align: top;
    visibility: hidden;
    width: 24px;
}

.bxu-item-block:hover .bxu-item-btn {
    visibility: visible;
}

.bxu-item-btn:hover {
    opacity: 1;
}

.bxu-item-btn:first-child {
    margin-left: auto;
}

.bxu-item-btn-edit {
    background-position: center -102px;
}

.bxu-item-btn-turn {
    background-position: center -132px;
}

.bxu-item-btn-del {
    background-position: center -162px;
}

.bxu-item-load-bar {
    background-color: #eef5f7;
    border: 1px solid;
    border-color: #ced4d6 #e0e6e7 #dde4e6;
    border-radius: 4px;
    display: none;
    height: 5px;
    margin-top: -4px;
    top: 50%;
    left: 10%;
    right: 10%;
    position: absolute;
}

.bxu-item-loading .bxu-item-load-bar {
    display: block;
}

.bxu-item-load-bar-inner {
    background-color: #a1b7d9 ;
    border: 1px solid;
    border-radius: 4px;
    display: block;
    height: 5px;
    left: -1px;
    top: -1px;
    position: absolute;
}

.bxu-item-error-cont {
    display: block;
    left: 0;
    top: 20%;
    text-align: center;
    position: absolute;
    width: 100%;
}

.bxu-error-icon {
    background: url(images/pg-error-img.png) no-repeat center -40px;
    display: inline-block;
    height: 36px;
    width: 39px;
}

.bxu-error-text {
    color: #a1b7d9 ;
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.bxu-bottom-block {
    overflow: hidden;
    padding: 0 12px 0 0;
}

.bxu-thumbnails-start .bxu-bottom-block {
    display: none;
}

.bxu-bottom-block-shadow-wrap {
    height: 6px;
    overflow: hidden;
    position: relative;
}

.bxu-bottom-block-shadow {
    background-image: -webkit-linear-gradient(top, rgba(109, 109, 109, 0.01) 5%, rgba(84, 95, 112, 0.11) 40%);
    background-image: -moz-linear-gradient(top, rgba(109, 109, 109, 0.01) 5%, rgba(84, 95, 112, 0.11) 40%);
    background-image: -ms-linear-gradient(top, rgba(109, 109, 109, 0.01) 5%, rgba(84, 95, 112, 0.11) 40%);
    background-image: -o-linear-gradient(top, rgba(109, 109, 109, 0.01) 5%, rgba(84, 95, 112, 0.11) 40%);
    background-image: linear-gradient(to bottom, rgba(109, 109, 109, 0.01) 6%, rgba(84, 95, 112, 0.11) 50%);
    border-radius: 50%;
    height: 12px;
    opacity: 0.8;
    top: 0;
    left: 6px;
    right: 6px;
    position: absolute;
}

.bxu-bottom-block-btns {
    float: left;
    padding: 15px 10px 0 4px;
}

.bxu-bottom-block-text {
    color: #fff;
    float: right;
    font-size: 14px;
    padding: 22px 7px 0 0;
}

.bxu-main-block-reduced-size .bxu-item {
    max-width: 192px;
    min-width: 144px;
    width: 20%;
}

.bxu-main-block-reduced-size .bxu-item-block {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.bxu-main-block-reduced-size .bxu-item-block-top {
    -webkit-box-shadow: 0 1px 3px 0 rgba(1, 2, 2, 0.15);
    box-shadow: 0 1px 3px 0 rgba(1, 2, 2, 0.15);
    z-index: 2;
}

.bxu-main-block-reduced-size .bxu-item:hover .bxu-item-block-top {
    -webkit-box-shadow: 0 1px 3px 1px #c3c7c9;
    box-shadow: 0 1px 3px 1px #c3c7c9;
}

.bxu-main-block-reduced-size .bxu-item-block-bottom {
    border: 1px solid #e5e7e7;
    border-top: none;
    bottom: 0;
    border-radius: 2px;
    height: 0;
    left: 1px;
    right: 1px;
    position: absolute;
    z-index: 0;

    -webkit-transition: bottom 0.15s linear;
    -moz-transition: bottom 0.15s linear;
    -ms-transition: bottom 0.15s linear;
    -o-transition: bottom 0.15s linear;
    transition: bottom 0.15s linear;
}

.bxu-main-block-reduced-size .bxu-item:hover .bxu-item-block-bottom {
    bottom: -28px;
    height: 28px;
}

.bxu-main-block-reduced-size .bxu-item-block-setting {
    padding-top: 4px;
}

.bxu-main-block-reduced-size .bxu-item-block-desc {
    display: none;
}

.bxu-main-block-reduced-size .bxu-item-btn {
    visibility: visible;
}

.bxu-main-block-reduced-size .bxu-error-icon {
    background-position: center 0;
    height: 27px;
}

.bxu-main-block-reduced-size .bxu-error-text {
    font-size: 11px;
    margin-top: 7px;
    font-weight: normal;
}

@media (max-width: 1200px) {
    .bxu-item {
        width: 33%;
    }

    .bxu-main-block-reduced-size .bxu-item {
        max-width: 100%;
        width: 20%;
    }

    .bxu-start-block-text {
        font-size: 23px;
    }

    .bxu-start-block-description {
        font-size: 13px;
    }
}

.bxu-items {
    overflow-y: scroll;
    max-height: 40vh;
    margin-right: -50px;
    padding-right: 50px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .bxu-items {
        padding-left: 0;
    }

    .bxu-item {
        width: 25%;
    }

    .bxu-main-block-reduced-size .bxu-item {
        max-width: 100%;
        width: 16.5%;
    }

    .bxu-start-block-text {
        font-size: 27px;
    }

    .bxu-start-block-description {
        font-size: 15px;
    }
}

@media (min-width: 1400px) and (max-width: 1600px) {
    .bxu-items {
        padding-left: 0;
    }

    .bxu-item {
        width: 20%;
    }

    .bxu-main-block-reduced-size .bxu-item {
        max-width: 100%;
        width: 14.28%;
    }

}

@media (min-width: 1600px) and (max-width: 20000px) {
    .bxu-items {
        padding-left: 0;
    }

    .bxu-item {
        width: 16.6%;
    }

    .bxu-main-block-reduced-size .bxu-item {
        max-width: 100%;
        width: 12.5%;
    }
}

.bxu-thumbnails-simple .bxu-dnd {
    display: none;
}

.bxu-thumbnails .webform-button {
    overflow: hidden !important;
    position: relative !important;
}

/* Webforms buttons */

.bxu-thumbnails .webform-button {
    background: #0000c8;
    color: #fff;
    border: 1px solid #0000c8;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    margin: 0 16px 0 0;
    font-size: 12px;
    outline: none;
    padding: 0 18px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: none;
    white-space: nowrap;
    -webkit-font-smoothing: antialiased;
    transition: background-color 0.25s linear;
    &:hover {
        background: #fff;
        color: #0000c8;
    }
}

.bxu-thumbnails .webform-button input[type=file] {
    display: none;
}

.bxu-thumbnails .webform-button-text {

    background: none !important;
    border: none;
    display: inline;
    height: auto;
    font-size: 14px;
    text-shadow: none !important;
    text-transform: uppercase;
    padding: 0 7px;

    -webkit-font-smoothing: antialiased;

    -webkit-transition: color 0.25s linear;
    transition: color 0.25s linear;
}

.bxu-thumbnails .webform-button-left,
.bxu-thumbnails .webform-button-right {
    display: none;
}


.bxu-thumbnails .webform-button-accept,
.bxu-thumbnails .webform-button-create {
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #0000c8;
}

.bxu-thumbnails .webform-button-accept:hover,
.bxu-thumbnails .webform-button-create:hover {
    background: #00008f;
    color: #fff;
}

.bxu-thumbnails .webform-button-accept:active,
.webform-button-accept.webform-button-active,
.bxu-thumbnails .webform-button-create:active,
.webform-button-create.webform-button-active {
    background: #00008f !important;
    color: #fff;
}





.bxu-thumbnails .webform-button-link-cancel {
    color: #d20000 !important;
}


.bxu-thumbnails .webform-button-blue.webform-button-disable {
    background: rgba(0, 0, 200, 0.5) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: #fff !important;
}


.page-action__content {
    .pg-select,  .bxu-top-block-inp {
        color: #fff;
        border-bottom: 1px solid #fff !important;
        width: 100%;
        @media all and (min-width: 768px) {
          width: auto;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
        }
        &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
        }
        option {
            color: #000;
        }
    }
    .bxu-start-block-text {
        color: #ced7e4;
    }
    .bxu-start-block-description {
        color: #a1b7d9;
    }

    .bxiu-notice-form p {
        color: #a1b7d9 !important;
        font-size: 12px;
        @media all and (min-width: 768px) {
          font-size: 14px;
        }
    }
    .bxu-thumbnails .webform-button {
        background: #fff;
        color: #0000c8;
        &:hover {
            background: #00008f;
            color: #fff;
        }
    }

}
