/* PHOTO SLIDER */
.photo-fixed-overlay {
  position: fixed;
  min-height: 100%;
  min-width: 100%;
  top: 0px;
  left: 0px;
  z-index: 3000;
  overflow: auto!important;
  overflow-x: hidden!important;
  overflow-y: auto!important;
}
.photo-body-overlay {
  overflow-x: hidden!important;
  overflow-y: hidden!important;
  overflow: hidden!important;
  position: relative;
}
.photo-main-table {
  width: 100%;
  position: absolute;
  top: 28px;
  left: 0px;
  z-index: 3000;
}
.photo-main-table td {
  border: none;
  vertical-align: top;
  padding: 0;
}
.photo-wrap a,
.photo-wrap a:active,
.photo-wrap a:link,
.photo-wrap a:focus {
  outline: none;
}
.photo-wrap img {
  border: none;
}
.photo-wrap {
  background: url("images/border-shadow.png") repeat;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  margin: 0 auto;
  padding: 0 3px 3px 0;
  position: relative;
  z-index: 1000;
  zoom: 1;
}
.photo-overlay {
  background-color: #1a1a5f;
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2999;
  width: 100%;
}
.photo-center {
  left: 50%;
  float: left;
  position: relative;
}
.photo-main {
  background: #fff;
  margin: 0 0 0 -3px;
  overflow: hidden;
  padding: 0 12px 0;
  zoom: 1;
}
.photo-top {
  position: relative;
  zoom: 1;
  margin-bottom: 10px !important;
}
.photo-top-nav {
  overflow: hidden;
  padding: 7px 0 5px 0;
}
.photo-pager {
  color: #4c4c4c;
  line-height: 10px;
  float: left;
  margin-right: 12px;
}
.photo-pager span {
  margin-right: 4px;
}
.photo-top-nav-buttons {
  margin: -3px 0 0 0;
  float: right;
  padding-left: 13px;
}
.photo-scroll {
  display: none !important;
  background: url("images/photo-gall-sprite.png") repeat-x left -28px;
  margin-top: 3px;
  height: 7px;
  overflow: hidden;
  position: relative;
}
* + html .photo-scroll {
  margin-top: 10px;
}
.photo-scroll-wheel {
  background: url("images/photo-gall-sprite.png") no-repeat 0 0;
  cursor: pointer;
  height: 7px;
  top: 0;
  width: 22px;
  position: absolute;
}
.photo-scroll-wheel:hover {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -9px;
}
.photo-scroll-wheel-active {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -20px !important;
}
.photo-top-nav-buttons a {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  text-decoration: none;
}
.photo-slider-button {
  display: none !important;
  background: url("images/photo-gall-but.png") no-repeat 0 -45px;
  color: #8c8c8c!important;
  font-size: 10px;
  margin-right: 5px;
  height: 14px;
  line-height: 12px;
  padding: 0 0 0 5px;
}
.photo-slider-button span {
  display: inline-block;
  vertical-align: top;
}
.photo-slider-button i {
  background: url("images/photo-gall-but.png") no-repeat -84px -45px;
  display: inline-block;
  height: 14px;
  width: 5px;
}
.photo-slider-button:hover {
  background: url("images/photo-gall-but.png") no-repeat -93px -45px;
}
.photo-slider-button:hover i {
  background: url("images/photo-gall-but.png") no-repeat -175px -45px;
}
.photo-slider-button-active {
  background: url("images/photo-gall-but.png") no-repeat -93px -45px;
}
.photo-slider-button-active i {
  background: url("images/photo-gall-but.png") no-repeat -175px -45px;
}
.photo-full-screen-but {
  display: none !important;
  background: url("images/photo-gall-sprite.png") no-repeat 5px -35px;
  height: 19px;
  width: 20px;
}
.photo-full-screen-but:hover {
  background: url("images/photo-gall-sprite.png") no-repeat 5px -50px !important;
}
.photo-minimize-screen-but {
  background: url("images/photo-gall-sprite.png") no-repeat -9px -252px !important;
}
.photo-minimize-screen-but:hover {
  background: url("images/photo-gall-sprite.png") no-repeat -13px -175px !important;
}
.photo-minimize-disabled,
.photo-minimize-disabled:hover {
  filter: alpha(opacity=60) !important;
  -moz-opacity: 0.6!important;
  opacity: 0.6!important;
  cursor: default!important;
}
.photo-close-but {
  background: url("images/photo-gall-sprite.png") no-repeat -11px -35px;
  margin-right: -5px;
  height: 19px;
  width: 20px;
}
.photo-close-but:hover {
  background-position: -11px -50px;
}
.photo-slider {
  background-color: #fff;
  display: none;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  width: 100%;
}
.photo-slider a {
  background: url("images/photo-gall-but.png") no-repeat 0 200px;
  display: inline-block;
  text-align: center;
  height: 44px;
  padding-top: 4px;
  width: 48px;
}
.photo-slider a:hover {
  background-position: 0 -62px;
}
.photo-slider a img {
  border: none;
}
.photo-image {
  border: none;
  width: 100%;
  cursor: pointer;
  text-align: center;
  padding: 0;
}
.photo-image img {
  max-width: 100%;
  height: auto !important;
}
.photo-image-loading {
  position: absolute;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
}
.photo-image-wait {
  background: url("images/wait.gif") no-repeat center center #FFFFFF !important;
  width: 30px;
  height: 30px;
}
.photo-footer {
  margin: 0 auto;
  padding-bottom: 18px;
  position: relative;
  width: 100% !important;
  z-index: 1;
}
.photo-descriptions {
  border-bottom: 1px solid #f0f0f0;
  min-height: 41px;
  /*overflow:hidden; */
  padding-top: 9px;
  zoom: 1;
}
.photo-description-left {
  float: none;
  width: 100%;
}
@media all and (min-width: 1024px) {
  .photo-description-left {
    float: left;
    width: 60%;
  }
}
.photo-description-right {
  float: right;
  text-align: right;
}
.photo-rating {
  display: inline-block;
  margin: 1px 10px 0 0;
  vertical-align: top;
}
 + html .photo-rating {
  margin: 3px 10px 0 0!important;
}
.photo-rating-wait {
  width: 30px;
  text-align: left;
}
.photo-rating-star {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -69px;
  display: inline-block;
  line-height: 9px;
  margin-left: -2px;
  height: 9px;
  vertical-align: middle;
  width: 9px;
  cursor: pointer;
  font-size: 3px!important;
}
.photo-rating-star-select {
  background-position: 0 -257px !important;
}
.photo-slideshow {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.photo-slideshow-button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none !important;
  height: 20px;
  outline: none;
  padding: 0 0 0 7px;
}
.photo-slideshow-button:hover {
  background: #ebebeb;
  border-radius: 3px;
}
.photo-dark-theme .photo-slideshow-button:hover {
  background: #444444 !important;
  border-radius: 2px;
}
.photo-dark-theme .photo-slideshow-button:hover i {
  background: none;
}
.photo-slideshow-button-img {
  background: url("images/photo-gall-sprite.png") no-repeat -8px -180px;
  display: inline-block;
  margin-top: 5px;
  height: 9px;
  width: 6px;
}
.photo-slideshow-button-active {
  background-position: 0 47px !important;
}
.photo-slideshow-button i {
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
  height: 20px;
  width: 4px;
}
.photo-slideshow-button:hover i {
  background: none;
}
.photo-slideshow-active {
  height: auto;
}
@media all and (min-width: 1024px) {
  .photo-slideshow-active {
    height: 35px;
  }
}
.photo-slideshow-active .photo-slideshow-speed {
  display: block;
}
.photo-slideshow-active .photo-slideshow-button-img {
  background: url("images/photo-gall-sprite.png") no-repeat left -180px !important;
}
.photo-slideshow-speed {
  display: none;
  left: 4px;
  text-align: left;
  top: 21px;
  position: absolute;
  white-space: nowrap;
}
* + html .photo-slideshow-speed {
  width: 110px;
}
.photo-slideshow-speed a {
  color: #a4a4a4 !important;
  display: inline-block;
  height: 12px;
  line-height: 11px;
  margin-right: 1px;
  text-decoration: none !important;
  text-align: center;
  vertical-align: middle;
  width: 14px;
  padding-bottom: 2px;
}
.photo-slideshow-speed a:hover {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -80px;
}
.photo-slideshow-speed span {
  color: #a4a4a4;
  display: inline-block;
  line-height: 11px;
}
.photo-slideshow-speed-active {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -80px;
}
.photo-description-text {
  float: left;
  margin: 0;
  padding-right: 20px;
  position: relative;
}
.photo-description-text a {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -151px;
  display: block;
  right: 0;
  height: 15px;
  text-decoration: none;
  position: absolute;
  top: 0;
  width: 15px;
}
.photo-description-text a:hover {
  background-position: 0 -117px;
}
.photo-sign-wrap {
  padding-bottom: 8px;
}
.photo-sign-wrap .photo-textarea {
  min-height: 62px;
}
.photo-comments {
  display: none;
  overflow: hidden;
  padding-top: 15px;
}
/*.photo-comments-left {float:left; width:495px;}*/
.photo-comments-left {
  float: left;
  width: 100%;
}
.photo-footer a.photo-dark-theme-link,
.photo-footer a.photo-qt-comments {
  cursor: pointer;
  color: #282828!important;
  text-decoration: underline;
  margin-top: 1px;
}
.photo-more-comments,
.photo-comments-add,
.photo-comment-add {
  margin-top: 20px;
  margin-right: 5px;
  display: inline-block;
  background-color: #0000c8;
  border: 2px solid #0000c8;
  font-size: 10px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: white;
  padding: 0 15px;
}
.photo-comments-add:hover,
.photo-more-comments:hover,
.photo-comment-add:hover {
  background-color: #fff;
  color: #0000c8;
}
.photo-comment {
  overflow: hidden;
  padding-bottom: 15px;
}
.photo-comment-avatar {
  float: left;
  height: 30px;
  margin-right: 12px;
  width: 30px;
  border: 1px solid #C4C4C4;
  overflow: hidden;
}
.photo-comment-avatar-none {
  background: url(images/noavatar.gif) center center no-repeat !important;
}
.photo-comment-avatar-none .photo-comment-avatar-inner {
  display: none;
}
.photo-comment-avatar .photo-comment-avatar-inner {
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
}
.photo-comment-info-text {
  overflow: hidden;
}
.photo-comment-hover .photo-comment-edit,
.photo-comment-hover .photo-comment-remove,
.photo-comment-hover .photo-comment-reply {
  display: block;
  top: 0px;
}
.photo-comment-info {
  line-height: 15px;
  position: relative;
  padding-bottom: 9px;
  zoom: 1;
}
.photo-comment-info .bx-ilike-right-wrap {
  line-height: 11px !important;
}
.photo-comment-name {
  margin-right: 5px;
  border-bottom: 1px solid rgba(40, 40, 40, 0.5);
}
.photo-comment-name:hover {
  color: #282828!important;
}
.photo-comment-info span {
  color: #282828;
}
.photo-comment-text {
  zoom: 1;
}
.photo-comment-edit {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -151px;
  display: none;
  height: 15px;
  right: 32px;
  position: absolute;
  width: 15px;
}
.photo-comment-edit:hover {
  background-position: 0 -117px;
}
.photo-comment-remove {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -164px;
  display: none;
  height: 15px;
  right: 16px;
  position: absolute;
  width: 15px;
}
.photo-comment-remove:hover {
  background-position: 0 -134px;
}
.photo-comment-reply {
  background: url("images/photo-gall-sprite.png") no-repeat -16px -442px;
  display: none;
  height: 15px;
  right: 0;
  position: absolute;
  width: 15px;
}
.photo-comment-reply:hover {
  background-position: 0 -442px;
}
.photo-textarea-wrap {
  display: none;
  padding-left: 44px;
}
.photo-textarea {
  background-color: #fff;
  color: #9d9d9d;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  border: 1px solid #d9d9d9;
  min-height: 80px;
  margin: 0;
  resize: none;
  outline: none;
  padding: 5px 7px 7px;
  width: 435px;
}
.no-comments .photo-textarea-wrap {
  padding-left: 7px !important;
}
.no-comments .photo-textarea {
  width: 479px;
}
.photo-textarea-active {
  color: #000000 !important;
}
.photo-comment-add span {
  vertical-align: middle;
}
.photo-comment-add i {
  background: none;
  display: none;
  height: 21px;
  vertical-align: middle;
  width: 12px;
}
/*.photo-comments-right {float:right; padding-right:20px; width:188px;}*/
.photo-comments-right {
  display: none;
}
.photo-comments-right div {
  clear: both;
}
.photo-comments-right-info {
  border-bottom: 1px solid #f0f0f0;
  margin-bottom: 10px;
  padding-bottom: 4px;
}
.photo-comments-right-info-left {
  border-width: 0!important;
}
.photo-comments-right-info a {
  color: #000000!important;
  text-decoration: none;
}
.photo-comments-right-info a:hover {
  text-decoration: underline;
}
.photo-comments-right-grey {
  color: #858585;
}
.photo-album,
.photo-comments-author,
.photo-comments-add_date {
  margin-left: 8px;
  padding: 0 0 10px 0;
}
.photo-comments-add_date {
  color: #989898;
}
.photo-comments-button {
  color: #545454!important;
  margin-bottom: 4px;
  cursor: pointer;
  display: block;
  height: 18px;
  line-height: 17px;
  text-decoration: none !important;
  overflow: hidden;
  padding: 0 0 0 8px;
  width: 100px;
}
.photo-comments-button:hover {
  background: url("images/photo-gall-but.png") no-repeat -10px -24px;
}
.photo-comments-edit-wrap {
  position: relative;
}
.photo-comment-undo {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -96px;
  cursor: pointer;
  display: block;
  height: 19px;
  right: 20px;
  top: 0;
  position: absolute;
  width: 19px;
}
.photo-comment-undo:hover {
  background-position: 0 -217px;
}
.photo-comment-redo {
  background: url("images/photo-gall-sprite.png") no-repeat 0 -237px;
  cursor: pointer;
  display: block;
  height: 19px;
  right: 0;
  top: 0;
  position: absolute;
  width: 19px;
}
.photo-comment-redo:hover {
  background-position: 0 -197px;
}
.photo-open-footer {
  display: block;
  bottom: 2px;
  left: 50%;
  margin-left: -55px;
  text-decoration: none;
  text-align: center;
  height: 14px;
  overflow: hidden;
  position: absolute;
  width: 109px;
}
.photo-open-footer:hover {
  background-color: #ebebeb;
}
.photo-open-footer i {
  background: url("images/photo-gall-sprite.png") no-repeat -15px -65px;
  display: inline-block;
  height: 14px;
  width: 7px;
}
.photo-open-footer-open i {
  background-position: -15px -75px !important;
}
.photo-qt-comments {
  left: 0;
  bottom: 3px;
  position: absolute;
  text-decoration: none !important;
}
.photo-qt-comments:hover {
  color: #656565;
  text-decoration: underline !important;
}
.photo-close-wrap {
  position: relative;
  z-index: 1500;
}
.photo-close {
  height: 120px;
  position: fixed;
  /*right:0; in Chrome button moves over the scrolling!*/
  top: 0;
  z-index: 1100;
  display: none;
}
@media all and (min-width: 1024px) {
  .photo-close {
    display: inline-block;
  }
}
.photo-close span {
  background: url("images/photo-gall-but.png") no-repeat -118px -210px;
  display: block;
  height: 32px;
  top: 15px;
  right: 40px;
  position: absolute;
  width: 62px;
}
.photo-close:hover span {
  background-position: -52px -210px;
}
.photo-prev-slide-wrap {
  width: 20%;
}
@media all and (min-width: 1024px) {
  .photo-prev-slide-wrap {
    width: 30%;
  }
}
.photo-prev-slide {
  display: block;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 1050;
}
.photo-prev-slide span {
  background: url("images/photo-gall-but.png") no-repeat -152px -113px;
  cursor: pointer;
  display: block;
  left: 7px !important;
  height: 60px;
  position: absolute;
  width: 14px;
  top: 145px;
}
@media all and (min-width: 1024px) {
  .photo-prev-slide span {
    left: 10px;
    width: 28px;
    top: 340px;
  }
}
.photo-prev-slide:hover span {
  background-position: -113px -113px;
}
.photo-main-block-wrap {
  width: 80%;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .photo-main-block-wrap {
    width: 40%;
  }
}
.photo-next-slide-wrap {
  width: 10%;
  float: right;
}
@media all and (min-width: 1024px) {
  .photo-next-slide-wrap {
    width: 30%;
  }
}
.photo-next-slide {
  display: block;
  text-align: right;
  top: 0;
  position: fixed;
  z-index: 1050;
}
.photo-next-slide span {
  background: url("images/photo-gall-but.png") no-repeat -14px -113px;
  cursor: pointer;
  display: block;
  height: 60px;
  position: absolute;
  right: 7px !important;
  width: 14px;
  top: 145px;
}
@media all and (min-width: 1024px) {
  .photo-next-slide span {
    background: url("images/photo-gall-but.png") no-repeat 0 -113px;
    right: 10px;
    width: 28px;
    top: 340px;
  }
}
.photo-next-slide:hover span {
  background-position: -49px -113px;
}
@media all and (min-width: 1024px) {
  .photo-next-slide:hover span {
    background-position: -35px -113px;
  }
}
.photo-rating .bx-ilike-left-wrap {
  display: inline-block;
  height: 17px !important;
}
.photo-rating .bx-ilike-right-wrap {
  display: inline-block;
  height: 17px !important;
}
.photo-rating .ilike-light {
  margin-top: 0px;
  display: inline-block;
}
.review-rating .ilike-light {
  margin-left: 5px;
  display: inline-block;
}
.photo-rating .ilike-light .bx-ilike-right,
.review-rating .ilike-light .bx-ilike-right {
  padding: 0px 1px 0 11px;
  background-position: 0 -42px;
  height: 16px;
}
.photo-rating .ilike-light .bx-you-like .bx-ilike-right,
.review-rating .ilike-light .bx-you-like .bx-ilike-right {
  background-position: 0 -22px;
}
.photo-rating .ilike-light .bx-ilike-text,
.review-rating .ilike-light .bx-ilike-text {
  padding: 0;
  text-decoration: none;
  height: 15px;
}
.photo-rating .ilike-light .bx-ilike-text {
  color: #7B7B7B !important;
}
.review-rating .ilike-light .bx-ilike-text {
  color: #999999 !important;
}
.photo-rating .ilike-light .bx-ilike-text:hover,
.review-rating .ilike-light .bx-ilike-text:hover {
  text-decoration: underline;
}
.photo-rating .bx-rating span,
.photo-rating .bx-rating a,
.review-rating .bx-rating a {
  color: #929292;
}
.review-rating .bx-rating {
  margin-left: 5px;
}
.photo-comment .photo-rating .ilike-light .bx-ilike-right,
.photo-comment .review-rating .ilike-light .bx-ilike-right {
  background-position: 0 -44px;
}
.photo-quirks-mode {
  position: absolute!important;
}
.photo-quirks-mode .photo-wrap {
  width: 760px !important;
}
.photo-quirks-mode .photo-top-nav {
  zoom: 1;
  margin-top: 5px;
  padding-right: 110px;
}
.photo-quirks-mode .photo-top-nav-buttons {
  margin: -5px -110px 0 0;
}
.photo-quirks-mode .photo-slider-button {
  height: 15px;
}
.photo-quirks-mode .photo-slider a {
  height: 48px;
}
.photo-quirks-mode .photo-descriptions {
  padding-bottom: 10px;
}
.photo-quirks-mode .photo-slideshow-speed a {
  height: 13px;
}
.photo-quirks-mode .photo-slideshow-speed a:hover {
  background-position: 0 -79px;
  height: 13px;
}
.photo-quirks-mode .photo-slideshow-speed-active {
  background-position: 0 -79px;
  height: 13px;
}
.photo-quirks-mode .photo-comments-button {
  width: 108px;
}
.photo-quirks-mode .photo-textarea {
  height: 90px;
}
.photo-quirks-mode .photo-prev-slide {
  position: absolute !important;
}
.photo-quirks-mode .photo-next-slide {
  position: absolute !important;
}
.photo-quirks-mode .photo-close-wrap {
  width: 99%;
}
.photo-quirks-mode .photo-sign-wrap {
  padding-bottom: 0;
}
.photo-quirks-mode .photo-sign-wrap .photo-textarea {
  height: 60px;
}
.photo-quirks-mode .photo-close {
  position: absolute;
}
.photo-quirks-mode .photo-dark-theme-link i {
  font-size: 0;
}
.photo-quirks-mode .photo-dark-theme-link {
  width: 250px;
}
.photo-qt-desc {
  color: #282828!important;
  text-decoration: none !important;
}
.photo-qt-desc:hover {
  text-decoration: underline !important;
}
.photo-slider a img {
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.photo-slider {
  height: 45px;
}
* html .photo-slider {
  height: 55px!important;
}
.photo-slider-int {
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 0px;
  left: -1px;
}
.photo-forum-capcha-cont {
  width: 400px;
  margin-top: 10px;
  height: 45px;
}
.photo-forum-capcha-cont .photo-forum-capcha-img {
  display: inline-block;
  margin: 2px;
  float: left;
}
.photo-forum-capcha-cont .photo-forum-capcha-label {
  display: inline-block;
  margin: 2px 6px;
  float: left;
  color: #858585;
}
.photo-forum-capcha-cont .photo-forum-capcha-input {
  display: inline-block;
  margin: 4px 6px 0 6px!important;
  float: left;
  width: 10em;
  border: 1px solid #858585;
}
.photo-comments-left {
  position: relative;
}
.photo-wait-comments {
  display: block;
  position: absolute;
  right: 0;
  top: -5px;
  background: url("images/wait.gif") no-repeat center center transparent !important;
  width: 29px;
  height: 29px;
}
.photo-show-more {
  text-align: center;
}
.photo-show-more a {
  display: inline-block;
  margin: 7px 0 6px 0;
  text-decoration: none!important;
}
.photo-show-more img.show-more-wait {
  display: none;
}
.photo-show-more-wait a {
  display: none!important;
}
.photo-show-more-wait img.show-more-wait {
  display: inline-block !important;
}
.photo-item-cont-drag {
  position: absolute!important;
}
.photo-new-empty-place {
  float: left;
}
.photo-slider a.photo-preview-selected {
  background-position: 0 -62px !important;
}
.photo-slider a.photo-wait img {
  background: url("images/wait.gif") no-repeat center center transparent !important;
}
.photo-slider .photo-preview .photo-preview-inner {
  display: inline-block;
  overflow: hidden;
}
.photo-slider a.photo-wait:hover {
  background: none!important;
}
.photo-comments-warning {
  color: #858585;
}
.photo-comments .reviews-note-error {
  color: #EE0000!important;
}
.photo-rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.photo-rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.photo-rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.photo-rotate-ie9-90 {
  -ms-transform: rotate(90deg);
}
.photo-rotate-ie9-180 {
  -ms-transform: rotate(180deg);
}
.photo-rotate-ie9-270 {
  -ms-transform: rotate(270deg);
}
.bxph-preload-cont {
  width: 100px;
  height: 300px;
  position: absolute;
  top: -1000px;
  left: -1000px;
  overflow: hidden;
}
.bxph-preload-cont img {
  width: 50px;
  height: 50px;
}
/* PHOTO LIST*/
.photo-items-list {
  width: 100% !important;
}
.photo-item-inner {
  display: block;
  position: relative;
  margin-bottom: 12px;
}
.photo-item-inner img {
  width: 100%;
}
.photo-items-list .bxph-warn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
.photo-top-warning {
  position: absolute;
  top: 45%;
  left: 50%;
  color: #fff;
  font-family: Verdana;
  font-size: 1em;
  padding: 15px 15px 15px 45px;
  margin-left: -120px;
  font-weight: bold;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  display: none;
}
.photo-top-not-active {
  background: url("images/not-approved.png") no-repeat 8px center #5b5b5b;
  display: block!important;
}
.photo-top-not-warn-link {
  color: #FFFFFF!important;
  margin-top: 5px;
  margin-left: 50px;
  cursor: pointer;
  display: block;
  height: 18px;
  line-height: 17px;
  text-decoration: underline!important;
  overflow: hidden;
  padding: 0 0 0 8px;
  width: 100px;
}
.photo-top-not-warn-link:hover {
  background: url("images/photo-gall-but.png") no-repeat 0 -24px;
  color: #000000!important;
}
.bxph-warn-link {
  color: #FFFFFF!important;
  margin-top: 0px;
  margin-left: 0px;
  cursor: pointer;
  text-decoration: underline!important;
  overflow: hidden;
  position: absolute;
  left: 0px;
  color: #ffffff!important;
  text-align: center;
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  background: #5b5b5b;
  padding: 5px 0!important;
  font-weight: bold;
  display: none;
}
.photo-item-inner:hover .bxph-warn-link {
  display: block!important;
}
.photo-comments-left .reviews-reply-fields .reviews-reply-field {
  margin-bottom: 8px;
}
.photo-comments-left .reviews-reply-fields input,
.photo-forum-capcha-cont input.photo-forum-capcha-input {
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  color: #9D9D9D;
  font-family: Verdana, sans-serif;
  font-size: 11px;
  margin: 0;
  outline: medium none;
  padding: 2px 4px 2px 4px;
  width: 200px;
}
.photo-comments-left .reviews-reply-fields input.bxph-photo-active,
.photo-forum-capcha-cont input.bxph-photo-active {
  color: #000 !important;
}
/* Blog */
/*comment*/
.photo-comments .blog-comment-cont-white {
  margin: 0 0 15px 0;
  position: relative;
  background-color: transparent !important;
}
.photo-comments .blog-comment {
  /*margin: 0; position:relative; */
}
.photo-comments .blog-comment-info {
  display: block;
}
.photo-comments .blog-comment-content {
  display: block;
  overflow: hidden;
  padding-top: 0.5em;
}
.photo-comments .blog-comment-meta {
  font-size: 0.85em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.photo-comments .blog-comment-date {
  font-size: 0.85em;
  display: inline;
}
.photo-comments .blog-comment-author-info {
  display: inline;
}
.photo-comments .blog-comment-avatar {
  float: left;
  margin-right: 0.5em;
  width: 30px;
  height: 30px;
  border: 1px solid #c4c4c4;
  background-color: #eceaec;
}
.photo-comments .blog-comment-meta a {
  text-decoration: none !important;
}
.photo-comments .blog-comment-meta a:hover {
  text-decoration: underline !important;
}
.photo-comments .blog-comment-link,
.photo-comments .blog-comment-delete,
.photo-comments .blog-comment-answer,
.photo-comments .blog-comment-edit {
  display: inline-block;
}
.photo-comments .blog-add-comment {
  text-align: center;
  padding-top: 0em;
  padding-bottom: 1.5em;
}
.photo-comments .blog-comment-nav {
  padding-bottom: 0.6em;
  padding-left: 0.7em;
}
/*comment-form*/
.photo-comments div.blog-comment-form {
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}
.photo-comments div.blog-comment-field-text {
  width: 100%;
}
.photo-comments div.blog-comment-field-text textarea {
  width: 99.9%;
}
.photo-comments div.blog-comment-field-tags {
  display: none;
}
.photo-comments div.blog-comment-field-captcha input {
  width: 180px;
}
.photo-comments div.blog-comment-field-settings input {
  width: 1.55em;
  height: 1.55em;
  margin: 0 0 0 -0.25em;
  vertical-align: middle;
  font-size: 1em;
}
.photo-comments div.blog-comment-field-settings label {
  vertical-align: middle;
}
.photo-comments div.blog-comment-fields {
  padding: 0.8em;
  background-color: transparent !important;
}
.photo-comments div.blog-comment-field-user {
  width: 100%;
  padding-bottom: 5px;
}
.photo-comments div.blog-comment-field-author,
div.blog-comment-field-email {
  float: left;
  width: 47%;
}
.photo-comments div.blog-comment-field-text {
  padding-bottom: 0.2em;
}
.photo-comments div.blog-comment-field-user-sep {
  width: 5%;
  float: left;
}
.photo-comments div.blog-comment-field-author input,
div.blog-comment-field-email input {
  width: 100%;
}
.photo-comments div.blog-comment-field-bbcode {
  padding-top: 0.7em;
}
.photo-comments div.blog-comment-field-captcha-image {
  padding-top: 0.4em;
}
.photo-comments div.blog-comment-buttons {
  margin-top: 1em;
  padding-bottom: 0.4em;
}
.photo-comments div.blog-comment-buttons input {
  padding: 0 0.5em;
  font-size: 1.184em;
}
/* LHE mods*/
.photo-comments .lhe-line-begin,
.photo-comments .lhe-line-end {
  display: none!important;
}
.photo-comments .bxlhe-editor-buttons,
.photo-comments table.bxlhe-frame-table td.bxlhe-editor-buttons {
  background-color: transparent!important;
}
.photo-comments .lhe-button-cont {
  background-image: none!important;
  height: 20px!important;
  width: 20px!important;
}
.photo-comments .bxlhe-editor-buttons {
  height: 21px!important;
}
.photo-comments .lhe-stat-toolbar-cont {
  margin-bottom: -2px !important;
}
.photo-comments .blog-author {
  float: left;
}
.photo-comments .blog-comment-date {
  float: left;
}
.photo-comments div.blog-clear-float {
  clear: both;
}
div.blog-line {
  background-repeat: no-repeat;
  height: 3px;
  width: 100%;
}
.blog-author {
  margin: 0;
  padding: 0;
  display: inline;
  font-weight: bold;
}
.blog-author-icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  background-repeat: no-repeat;
  padding-right: 0.2em;
  line-height: 1em;
}
.blog-post-date,
.blog-comment-date {
  color: #767676;
}
div.blog-comment-new .photo-info-date {
  background-color: #F0F0F0;
  padding: 3px 6px;
}
.photo-comments .bxlhe-frame {
  border-width: 0!important;
  /*border-bottom: 1px solid #D9D9D9!important;*/
}
.photo-comments .bxlhe-frame-table {
  border: 1px solid #ffffff!important;
}
.photo-comments td.bxlhe-editor-cell {
  border: 1px solid #D9D9D9!important;
}
.photo-comments table.blogquote,
.photo-comments table.blogcode {
  font-size: 1em;
  margin: 0.5em 1em;
  width: 80%;
  border: 1px solid;
}
.photo-comments table.blogquote td,
.photo-comments table.blogcode td {
  padding: 0.95em 1.5em;
}
.photo-comments table.blogcode td {
  font-family: "Courier New";
  white-space: pre-wrap;
}
.photo-comments table.blogcode pre {
  font-family: "Courier New";
  font-size: 12px;
  margin: 0;
  line-height: 15px;
  white-space: pre-wrap;
}
.photo-comments div.blog-post-quote table.blogquote {
  border-color: #E8E8E8;
  color: #555;
  background: url(images/quote-gray.png) no-repeat scroll left top #f7f7f7;
}
/* Buttons for LHE*/
.photo-comments #lhe_btn_bold,
.photo-comments #lhe_btn_italic,
.photo-comments #lhe_btn_underline,
.photo-comments #lhe_btn_strike,
.photo-comments #lhe_btn_quote {
  background-image: url(images/mini-sprite.png) !important;
}
.photo-comments #lhe_btn_bold {
  background-position: -22px -24px !important;
}
.photo-comments #lhe_btn_italic {
  background-position: -45px -24px !important;
}
.photo-comments #lhe_btn_underline {
  background-position: -67px -24px !important;
}
.photo-comments #lhe_btn_strike {
  background-position: -85px -24px !important;
}
.photo-comments #lhe_btn_quote {
  background-position: -107px -24px !important;
}
.lhe-button-over {
  background-color: #e5e5e5!important;
}
.photo-comments .errortext,
.photo-comments .notetext {
  background: transparent !important;
  border-width: 0 !important;
}
.photo-top-nav-buttons,
.photo-description-right {
  /*display: none;*/
}
.reviews-post-reply-buttons {
  margin-top: 15px;
}
.reviews-post-reply-buttons a {
  color: #0000c8;
  font-size: 11px;
  text-decoration: none !important;
  display: block;
  margin: 0 10px 0 0;
  float: left;
  line-height: 24px;
}
.reviews-post-reply-buttons .message-post-date {
  color: #8993a2;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: inline-block;
  margin-top: 16px;
}
