.gallery-filter {
  background-color: #f1f3f6;
  padding: 20px;
  width: 100%;
  margin-bottom: 25px;
}
.gallery-filter__text {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media all and (min-width: 1440px) {
  .gallery-filter__text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.gallery-filter form {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.gallery-filter__line {
  width: 100%;
}
@media all and (min-width: 768px) {
  .gallery-filter__line {
    width: auto;
  }
}
.reset-filter {
  display: flex;
  justify-content: flex-end;
}
.reset-filter span {
  border-bottom: 1px dashed rgba(40, 40, 40, 0.5);
}
.reset-filter span:hover {
  border-bottom-color: transparent;
}
.date-control {
  position: relative;
  padding-right: 17px;
  background: none;
  padding-left: 5px;
  border-width: 2px !important;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .date-control {
    max-width: 100px !important;
    width: auto;
  }
}
.date-control-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANAgMAAADgR2fRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAMgAAMizs+/////k6MxMAAAAAXRSTlMAQObYZgAAAAFiS0dEAxEMTPIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfSURBVAjXYwgNDWUAYRAAszOXQjCQHQWko+BsCAayAVDnDcG5wJE6AAAAAElFTkSuQmCC');
  margin-left: -12px;
  margin-right: 0;
}
@media all and (min-width: 768px) {
  .date-control-icon {
    margin-right: 5px;
  }
}
