.photo-album-item {
  margin-bottom: 30px;
}

.album-name, .more-photos {
  color: #282828;
}

.preview-album, .album-filter-category {
  display: block;
  position: relative;
  .category-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.preview-album {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}