.photo-album-item {
  margin-bottom: 30px;
}
.album-name,
.more-photos {
  color: #282828;
}
.preview-album,
.album-filter-category {
  display: block;
  position: relative;
}
.preview-album .category-icon,
.album-filter-category .category-icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.preview-album {
  margin-bottom: 20px;
}
.preview-album img {
  width: 100%;
}
