.photo-album-item{
  margin-bottom: 30px;
}

.album-name, .more-photos {
  color: #282828;
}

.preview-album, .album-filter-category {
  display: block;
  position: relative;
  .category-icon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
}

.preview-album img {
  width: 100%;
}

.preview-album-slider {
  margin-bottom: 20px;
  visibility: hidden;
  &.slick-initialized {
    visibility: visible;
  }
  .slick-slide {
    height: auto;

  }
}

.slick-dots {
  text-align: center;
  display: flex !important;
  justify-content: stretch;
  margin-top: 0;

  padding-left: 0;
  list-style: none;
  li {
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 4px;
  }
  button {
    width: 100%;
    height: 4px;
    margin: 0;
    border: 0;
    background-color: #d5d9e0;
    list-style-type: none;
    position: relative;
    font-size: 0;
    span {
      position: absolute;
      width: 100%;
      display: block;
      height: 100%;
      background-color: #0000c8;
      left: 0;
      top: 0;
      transform: scaleX(0);
      transform-origin: left;
    }
    &.filled span {
      transform: scaleX(1) !important;
    }
  }
}


