.socialnetwork-profile__avatar img {
  width: 100%;
  height: auto;
}
.user-show-fields {
  font-size: 12px;
}
@media all and (min-width: 768px) {
  .user-show-fields {
    font-size: 14px;
  }
}
.user-show-fields .user-name {
  margin-top: 0;
}
