.socialnetwork-profile {
  &__avatar {
    img {
      width: 100%;
      height: auto;
    }
  }
}
.user-show-fields {
  font-size: 12px;
  @media all and (min-width: 768px) {
    font-size: 14px;
  }
  .user-name {
    margin-top: 0;
  }
}