.feed-post-important-switch {
  background: none !important;
  position: relative !important;
  width: 24px !important;
  height: 24px !important;
  margin-right: 10px !important;
}
.feed-post-important-switch:before,
.feed-post-important-switch:after {
  display: none !important;
}
.feed-post-important-switch-active .star-icon {
  background-color: #0000c8;
}
