.filter__row div{
  display: flex;
  flex-wrap: wrap;
}

.filter__row div label{
  width: 100%;
}

.filter__row div input{
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.filter__row div select{
  width: 100% !important;
  margin-bottom: 5px;
  margin-top: 5px;
}
.reset-filter span {
  border-bottom: 1px dashed rgba(40, 40, 40, 0.5);
}
.reset-filter span:hover {
  border-bottom-color: transparent;
}