div.photo-ed-al-items-list div.photo-ed-al-item {
  padding-left: 0;
}
div.photo-ed-al-items-list div.photo-ed-al-item div.photo-ed-al-item-thumb {
  margin-left: 0;
}
.photo-dialog-table .photo-album-edit-cont label {
  font-weight: 700 !important;
  color: #1e1e1e !important;
  font-size: 14px !important;
}
div.photo-ed-al-item-params {
  width: 100%;
}
.photo-album-edit-cont .photo-al-ed-width {
  width: 80%!important;
}
div.photo-ed-al-item-params a.photo-al-ed-action,
a.photo-al-ed-action,
div.photo-al-ed-rotate {
  float: left;
}
div.photo-ed-al-item-params input.photo-al-ed-item-check {
  position: absolute;
  right: 20%;
  top: auto;
  bottom: -4px;
}
.photo-album-edit-buttons {
  margin-top: 15px;
  margin-bottom: 30px;
}
.photo-ed-al-contols {
  display: inline-block;
  margin-left: 10px;
}
.photo-ed-al-gract-del,
.photo-ed-al-gract-move {
  color: #0000c8;
}
