.webform {
  margin-top: -40px;
  background-color: #f1f3f6;
  padding: 1px 15px 10px;
  @media all and (min-width: 768px) {
      padding: 1px 20px 30px;
    }
  &__title {
    font-size: 24px;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__q-item {
    margin-bottom: 15px;
    display: flex;
    &_textarea {
      display: block;
    }
    label {
      margin-right: 10px;
      font-size: 12px;
    }
   &:not(&_submit) input, select, textarea {
      width: 100%;
     background: none;
    }
    &_submit {
      margin-top: 10px;
    }
  }
}

.form-required {
  color: red;
}

.error-fld {
  display: block;
  float: left;
  height: 13px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url(images/icon_warn.gif);
}

.webform-result-text-message {
  background: #f1f3f6;
  padding: 20px;
  font-size: 20px;
  color: green;
}