.webform {
  margin-top: -40px;
  background-color: #f1f3f6;
  padding: 1px 15px 10px;
}
@media all and (min-width: 768px) {
  .webform {
    padding: 1px 20px 30px;
  }
}
.webform__title {
  font-size: 24px;
}
@media all and (min-width: 768px) {
  .webform__title {
    font-size: 30px;
  }
}
.webform__q-item {
  margin-bottom: 15px;
  display: flex;
}
.webform__q-item_textarea {
  display: block;
}
.webform__q-item label {
  margin-right: 10px;
  font-size: 12px;
}
.webform__q-item:not(.webform__q-item_submit) input,
.webform__q-item select,
.webform__q-item textarea {
  width: 100%;
  background: none;
}
.webform__q-item_submit {
  margin-top: 10px;
}
.form-required {
  color: red;
}
.error-fld {
  display: block;
  float: left;
  height: 13px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url(images/icon_warn.gif);
}
.webform-result-text-message {
  background: #f1f3f6;
  padding: 20px;
  font-size: 20px;
  color: green;
}
