.popup-window {
  max-width: 80%;
}

.popup-form {
  display: none;
}

.webform-p {
  margin-top: -40px;
  background-color: #fff;
  padding: 1px 15px 10px;
  max-width: 800px;

  @media all and (min-width: 768px) {
    padding: 1px 20px 30px;
  }
  &__title {
    font-size: 24px;
    font-family: "Roboto Slab", Arial, serif;
    @media all and (min-width: 768px) {
      font-size: 30px;
    }
  }
  &__q-item {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    @media all and (min-width: 768px) {
      flex-direction: row;
    }
    &_textarea {
      //display: block;
    }
    label {
      margin-right: 10px;
      font-size: 12px;
      flex-grow: 0;
      margin-bottom: 5px;
      @media all and (min-width: 768px) {
        width: 80px;
      }
    }
    &:not(&_submit) input, select, textarea {
      flex-grow: 1;
      //background: none;
      background-color: #f1f3f6;
    }
    &_submit {
      margin-top: 10px;
      @media all and (min-width: 768px) {
        margin-left: 90px;
      }
    }
  }
}

.webform_popup {
  margin-top: 0;
}

.required-text-message {
  @media all and (min-width: 768px) {
    margin-left: 90px;
  }
}

.form-required {
  color: red;
}

.error-fld {
  display: block;
  float: left;
  height: 13px;
  width: 15px;
  background-repeat: no-repeat;
  background-image: url(images/icon_warn.gif);
}
.webform-result-text-message {
  padding: 20px;
  font-size: 20px;
  color: green;
}