.header-detail {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f3f6;
}
@media all and (min-width: 768px) {
  .header-detail {
    flex-wrap: nowrap;
  }
}
.header-detail__col {
  display: flex;
  align-items: center;
}
.header-detail__col_title {
  padding-top: 0 !important;
  padding-right: 20px;
  display: block;
  flex: 1;
}
.header-detail__col a,
.header-detail__col .fav {
  margin-right: 10px;
  display: inline-block;
}
.header-detail__date {
  color: #82899c;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.header-detail__title {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.header-detail__preview-text {
  font-size: 18px;
}
.category-icon_detail {
  display: inline-block;
  background-color: #0000c8 ;
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
