@screen-xxl: 1400px;
@screen-md: 1024px;
@screen-sm: 768px;
@wrapW-sm:210px;
@wrapW-xxl: 18vw;

#login-form-window {
  display: none;
  padding: 15px;
  z-index: 10000;
  position: absolute;
  top: 30%;
  left: 60px;
  width: 210px;
  color: #1e1e1e;
  box-shadow: 0 17px 46px rgba(39, 70, 146, 0.19);
  background: #f1f3f6;
  @media all and (min-width: @screen-md) {
    top: 10%;
    left: 45%;
  }
}

.autorized-wrap {
  width: auto;
  @media all and (min-width: @screen-md) {
    width: @wrapW-sm;
    padding: 0 20px;
  }
  @media all and (min-width: @screen-xxl){
    width: @wrapW-xxl;
  }
  float: right;
  padding: 0;
}

.avatar-wrap {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
  @media all and (min-width: @screen-md) {
    margin-left: 0;
    height: 70px;
  }
}

.user-name-wrap a {
  color: #1e1e1e;
  display: none;
  @media all and (min-width: @screen-md) {
    display: block;
  }
}

.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}