#login-form-window {
  display: none;
  padding: 15px;
  z-index: 10000;
  position: absolute;
  top: 30%;
  left: 60px;
  width: 210px;
  color: #1e1e1e;
  box-shadow: 0 17px 46px rgba(39, 70, 146, 0.19);
  background: #f1f3f6;
}
@media all and (min-width: 1024px) {
  #login-form-window {
    top: 10%;
    left: 45%;
  }
}
.autorized-wrap {
  width: auto;
  float: right;
  padding: 0;
}
@media all and (min-width: 1024px) {
  .autorized-wrap {
    width: 210px;
    padding: 0 20px;
  }
}
@media all and (min-width: 1400px) {
  .autorized-wrap {
    width: 18vw;
  }
}
.avatar-wrap {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  height: auto;
}
@media all and (min-width: 1024px) {
  .avatar-wrap {
    margin-left: 0;
    height: 70px;
  }
}
.user-name-wrap a {
  color: #1e1e1e;
  display: none;
}
@media all and (min-width: 1024px) {
  .user-name-wrap a {
    display: block;
  }
}
.avatar {
  width: 37px;
  height: 37px;
  border-radius: 50%;
}
