/********************************************************************
				Menu Controls
********************************************************************/
.photo-top-controls {
  margin: 0 0 1em 1px;
}
.photo-top-controls a {
  margin: 0 6px 0 0;
}
ul.photo-controls,
ul.photo-controls li {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
  overflow: hidden;
}
ul.photo-controls li {
  height: 2em;
  float: left;
  padding-right: 1em;
}
li.photo-control label,
li.photo-control a:link,
li.photo-control a:visited,
li.photo-control a:active,
li.photo-control a:hover {
  line-height: 1.7em;
  height: 1.7em;
}
li.photo-control a:hover,
li.photo-control a:active,
li.photo-control a.pressed {
  text-decoration: none;
}
/************** Controls Buttons ***********************************/
div.photo-controls-buttons ul.photo-controls {
  height: auto;
}
div.photo-controls-buttons ul.photo-controls li {
  clear: both;
  float: none;
  padding-right: 0.45em;
  height: 20px !important;
}
div.photo-controls-buttons ul.photo-controls li a {
  display: block;
  background-repeat: no-repeat;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}
div.photo-controls-buttons ul.photo-controls li a {
  width: 11.61em;
}
div.photo-controls-buttons ul.photo-controls li a span {
  padding-right: 10px;
  background-position: right bottom;
}
div.photo-controls-buttons ul.photo-controls li a:hover {
  background-position: left top;
}
div.photo-controls-buttons ul.photo-controls li a:hover span {
  background-position: right top;
}
/************** Menu Controls Album & Gallery Dropdown *************/
li.photo-control-album-edit a {
  float: left;
}
div.photo-controls-gallery ul.photo-controls li,
div.photo-controls-album ul.photo-controls li {
  float: left;
  margin-bottom: 2px;
}
div.photo-controls-gallery ul.photo-controls li a,
div.photo-controls-gallery ul.photo-controls li a span,
div.photo-controls-album ul.photo-controls li a,
div.photo-controls-album ul.photo-controls li.photo-control-album-edit a span {
  padding-right: 1.2em;
}
div.photo-controls-album,
div.photo-controls-gallery {
  float: right;
}
/********************************************************************
				Menu Controls /
********************************************************************/
/********************************************************************
				Popups
********************************************************************/
table.photo-dialog-table,
table.photo-popup {
  border: 0;
  border-collapse: collapse;
  width: 100%;
}
table.photo-dialog-table td,
table.photo-popup td {
  padding: 5px !important;
  background: transparent !important;
  vertical-align: top !important;
}
table.photo-dialog-table td.photo-dialog-prop-title {
  text-align: right;
}
table.photo-dialog-table td.photo-dialog-prop-param {
  text-align: left;
}
table.photo-dialog-table td.photo-dialog-req label {
  font-weight: bold !important;
}
table.photo-dialog-table textarea {
  width: 400px;
  height: 10em;
}
table.photo-dialog-table td.photo-inp-width input {
  width: 400px;
}
table.photo-dialog-table td.photo-dialog-warning {
  color: red !important;
}
table.photo-dialog-table td.photo-dialog-prop-param-date {
  text-align: left;
}
table.photo-dialog-table td.photo-dialog-prop-param-date input {
  display: block;
  float: left;
}
table.photo-dialog-table td.photo-dialog-prop-param-date a {
  display: inline-block !important;
}
div.photo-popup,
div.photo-popup div,
div.photo-popup form {
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
div.photo-popup {
  background-color: gray;
  overflow: hidden;
  width: 600px;
  height: 400px;
}
div.photo-popup div.photo-popup-container {
  border: 1px solid black;
}
div.photo-popup div.photo-popup-inner {
  padding: 9px;
}
div.photo-popup div.photo-popup-data {
  overflow: hidden;
  width: 580px;
  height: 380px;
}
div.photo-popup table {
  width: 100%;
  border: none;
}
table.photo-popup thead {
  display: none;
}
div.photo-popup tbody {
  height: 330px;
}
div.photo-popup tbody td {
  border: none;
  text-align: left;
  vertical-align: top;
}
div.photo-popup tbody div.photo-info-box-section-edit-icon,
div.photo-popup tbody div.photo-info-box-section-edit,
div.photo-popup tbody div.photo-info-box-element-edit {
  height: 335px;
  overflow: auto;
  zoom: 1;
}
div.photo-popup tfoot td {
  text-align: center;
  vertical-align: middle;
  height: 50px;
  overflow: hidden;
}
div.photo-popup tfoot td input {
  margin: 2px;
}
div.photo-popup div.photo-edit-field {
  padding: 0.3em 0 0.2em 0.3em;
}
div.photo-popup div.photo-edit-field-title input,
div.photo-popup div.photo-edit-field-tags input,
div.photo-popup div.photo-edit-field textarea {
  width: 99%;
}
div.photo-popup div.photo-edit-field select {
  width: 50%;
}
/********************************************************************
				Popups /
********************************************************************/
/********************************************************************
				Filter
********************************************************************/
/* Used on detail list page with new photo, photo with comments and other */
div.photo-filter {
  margin: 1.5em 0 2.5em 0;
  border: 1px solid;
  padding: 1em;
  width: 70%;
}
div.photo-filter-field {
  margin-bottom: 0.7em;
}
div.photo-filter-field-inner {
  margin-bottom: 0.4em;
}
div.photo-calendar-field label {
  display: block;
  margin-bottom: 0.5em;
}
div.photo-filter-buttons {
  margin-right: 0.5em;
}
div.photo-filter-field legend {
  padding: 0.5em 1em;
}
/********************************************************************
				Filter /
********************************************************************/
/********************************************************************
				Page Navigation
********************************************************************/
div.modern-page-navigation {
  padding: 0.5em 0;
}
div.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots {
  border-left-width: 1px;
  border-left-style: solid;
  padding-left: 0.75em;
  padding-right: 0.5em;
  text-decoration: none;
}
div.modern-page-navigation a.modern-page-previous {
  border-right-width: 1px;
  border-right-style: solid;
  border-left: none;
}
div.modern-page-navigation a.modern-page-first,
div.modern-page-navigation span.modern-page-first {
  border-left: none;
  padding-left: 0.5em;
}
span.modern-page-current {
  font-weight: bold;
}
/********************************************************************
				Page Navigation /
********************************************************************/
/********************************************************************
				Standart styles
********************************************************************/
ul.photo-items-list,
ul.photo-items-list,
li.photo-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
div.photo-note-box {
  width: 70%;
  border-width: 1px;
  border-style: solid;
  margin: 1.117em 0;
  padding: 0.4em 1.117em;
}
div.photo-note-box ul {
  padding: 0.3em 0.6em;
  list-style-type: none;
  margin: 0;
}
div.photo-note-box ul li {
  margin: 0.3em 0;
  padding: 0;
}
div.photo-breadcrumb-top {
  margin-bottom: 1.27em;
}
div.empty-clear {
  clear: both;
  overflow: hidden;
  height: 0.1em;
}
div.photo-popup-inner form,
form.photo-form {
  padding: 0;
  margin: 0;
}
table.photo-table,
table.photo-table td {
  font-size: 100%;
}
div#photo_waitwindow {
  width: 170px !important;
  padding: 10px !important;
  display: block !important;
  border: 1px solid #EACB6B !important;
  text-align: center !important;
  font-size: 13px !important;
  background-color: #FCF7D1 !important;
  background-image: url("/bitrix/themes/.default/images/wait.gif") !important;
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  position: relative !important;
  z-index: 10000;
  text-align: center;
  position: static !important;
  width: 100%;
}
div.photo-header-big div.photo-header-inner,
div.photo-header-middle div.photo-header-inner {
  margin-bottom: 0.78em;
}
div.photo-header-big {
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 110%;
  margin-bottom: 0.78em;
}
div.photo-header-component {
  font-weight: bold;
  font-size: 110%;
  margin-right: 1em;
  margin-bottom: 0.78em;
}
span.photo-header-link {
  font-weight: normal;
  font-size: 100%;
}
div.reviews-navigation-top {
  display: none;
}
div.tags-cloud a {
  text-decoration: none;
}
div.tags-cloud a:hover {
  text-decoration: underline;
}
/********************************************************************
				Standart styles
********************************************************************/
/********************************************************************
				Album  styles
********************************************************************/
div.photo-album-avatar,
div.photo-album-thumbs-avatar,
div.photo-album-avatar-empty {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  cursor: hand;
  overflow: hidden;
}
div.photo-album-avatar-edit div.photo-album-menu {
  display: block !important;
}
div.photo-item-cover-block-outside {
  padding: 0 8px 8px 0;
}
div.photo-item-cover-block-inside {
  padding: 8px 20px;
  border: none;
}
div.photo-item-cover-block-container,
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
  border: 1px solid;
}
div.photo-item-cover-block-container {
  position: relative !important;
}
div.photo-item-cover-block-outer,
div.photo-item-cover-block-inner {
  position: absolute !important;
}
div.photo-item-cover-block-container {
  left: 6px;
  top: 8px;
}
div.photo-item-cover-block-outer {
  left: -4px;
  top: -4px;
}
div.photo-item-cover-block-inner {
  left: -4px;
  top: -4px;
}
div.photo-item-info-block-outer {
  padding: 4px 2px 2px 2px;
}
div.photo-item-cover {
  cursor: pointer;
  cursor: hand;
}
div.photo-album-name a {
  line-height: 1.2em;
}
div.photo-album-date,
div.photo-album-photos {
  font-size: 11px;
}
/************** Album controls on cover ****************************/
div.photo-album-menu-controls {
  z-index: 100;
  text-align: center;
}
div.photo-album-menu {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}
div.photo-item-over div.photo-album-menu {
  display: block !important;
}
div.photo-album-menu div {
  position: absolute;
  width: 100%;
  height: 100%;
}
div.photo-album-menu-controls a {
  line-height: 1em;
  display: block;
}
/************** Albums List ****************************************/
ul.photo-album-list,
ul.photo-album-thumbs-list,
li.photo-album-item {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul.photo-album-list div.photo-item-info-block-outside {
  margin-left: 0 !important;
}
li.photo-album-item {
  margin: 0;
  float: left;
  padding: 0 30px 30px 0;
  display: inline;
}
ul.photo-album-thumbs-list li,
ul.photo-album-thumbs-list div,
ul.photo-album-list li,
ul.photo-album-list div {
  zoom: 1;
}
ul.photo-album-list li,
ul.photo-album-list div.photo-item-cover-block-outside,
ul.photo-album-thumbs-list li,
ul.photo-album-thumbs-list div.photo-item-cover-block-outside {
  float: left;
}
ul.photo-album-list div.photo-item-info-block-outside,
ul.photo-album-thumbs-list div.photo-item-info-block-outside {
  clear: both;
}
li.photo-album-item div.photo-album-name {
  position: relative;
  height: 1.4em;
  font-weight: bold;
  overflow: hidden;
}
li.photo-album-item div.photo-album-name a {
  line-height: 1.4em;
  text-decoration: none;
}
li.photo-album-item div.photo-album-date {
  padding-top: 1px;
  float: right;
}
li.photo-album-item div.photo-album-photos {
  padding-top: 1px;
}
li.photo-album-item div.photo-album-photos-top,
li.photo-album-item div.photo-album-description {
  display: none;
}
ul.photo-album-list-first-photos {
  display: inline-block !important;
  padding-right: 20em;
}
ul.photo-album-list-first-photos li.photo-album-item {
  float: none !important;
  display: block;
}
ul.photo-album-list-first-photos .album-name {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  color: #373737;
  font-family: Verdana;
}
ul.photo-album-list-first-photos .album-date,
ul.photo-album-list-first-photos .album-photos {
  text-decoration: none;
  font-size: 1.1em;
  color: #7F7F7F;
  margin: 0 0 0 7px;
}
ul.photo-album-list-first-photos .album-passworded {
  text-decoration: none;
  font-size: 1.1em;
  color: #7F7F7F;
}
ul.photo-album-list-first-photos .more-photos {
  margin: 0 1px;
}
ul.photo-album-list-first-photos .photo-item-cont {
  padding: 6px;
  border: 1px solid #DBDBDB;
  margin: 0 8px 8px 0;
}
ul.photo-album-list-first-photos .album-photos-section {
  margin: 12px 0 10px 0;
}
ul.photo-album-list-first-photos .album-separator-line {
  height: 1px;
  background-color: #DBDBDB;
  width: 100%;
  line-height: 1px !important;
  font-size: 1px !important;
}
ul.photo-album-list-first-photos .album-list-action-cont {
  margin: 10px 0 0 0 !important;
}
ul.photo-album-list-first-photos .album-list-action-cont a {
  font-size: 90%;
  display: inline-block;
  margin: 0 5px 0 0;
}
ul.photo-album-list-first-photos .album-no-photos {
  color: #808080;
}
/************** Album Single ***************************************/
div.photo-album-header div {
  float: left;
}
div.photo-album-item div.photo-album-name,
div.photo-album-item div.photo-album-date {
  line-height: 1.5em;
}
div.photo-album-item div.photo-album-name {
  font-weight: bold;
}
div.photo-album-item div.photo-album-date,
div.photo-album-item div.photo-album-description {
  margin-top: 0.3em;
}
div.photo-album-item div.photo-album-info {
  margin-bottom: 1em;
}
/************** Album Edit *****************************************/
.photo-album-edit-cont label {
  color: #666666 !important;
  font-size: 11px !important;
  font-weight: normal !important;
  font-family: Verdana;
  margin: 8px 4px 0 5px !important;
  float: left;
}
.photo-album-edit-cont label.photo-al-ed-label-top {
  display: block !important;
  margin: 3px 0 3px 0 !important;
  float: none !important;
}
.photo-album-edit-cont .photo-al-ed-width {
  width: 400px !important;
}
.photo-album-edit-cont textarea {
  width: 400px !important;
  height: 5em !important;
  resize: none !important;
}
.photo-album-edit-cont div.integer {
  display: block !important;
  float: left;
  margin-top: 4px !important;
}
tr.photo-album-edit-heading td {
  color: #000000 !important;
  font-size: 14px !important;
  font-family: Verdana !important;
  font-weight: bold !important;
  padding: 10px 5px 5px 10px !important;
}
tr.photo-album-edit-buttons td {
  padding: 10px 5px 5px 140px !important;
  text-align: left !important;
}
div.photo-ed-al-contols a {
  border-width: 0 0 1px 0 !important;
  border-style: dashed !important;
  border-color: #567FDD;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  white-space: nowrap !important;
}
div.photo-ed-al-items-list {
  overflow: hidden;
}
div.photo-ed-al-items-list div.photo-ed-al-item {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #EBEBEB;
  margin: 0;
  padding: 10px 0 10px 10px;
  float: left;
}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb {
  background-color: #000000;
  float: left;
  margin: 5px 10px 10px 10px;
  cursor: pointer !important;
  display: block;
}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner {
  overflow: hidden;
  position: relative;
}
div.photo-ed-al-items-list div.photo-ed-al-item .photo-ed-al-item-thumb div.photo-ed-al-item-thumb-inner img {
  position: absolute;
  border-width: 0 !important;
}
div.photo-ed-al-items-list div.photo-ed-al-item div.photo-ed-al-item-thumb div {
  background-position: center center;
  background-repeat: no-repeat;
}
.photo-album-edit-cont div.photo-ed-al-items-list textarea {
  height: 4em !important;
  display: block;
}
div.photo-ed-al-item-params {
  float: left;
  position: relative;
  width: 400px;
}
div.photo-ed-al-item-params a.photo-al-ed-tags-link {
  color: #666666;
  text-decoration: none;
  border-bottom: 1px dotted #666666;
  cursor: pointer;
  font-family: Verdana;
  font-size: 11px !important;
  font-weight: normal !important;
  margin: 5px 0 4px;
  display: block;
  float: left;
}
div.photo-ed-al-item-params a.photo-tags {
  border-width: 0 !important;
}
div.photo-ed-al-item-params a.photo-al-ed-action,
a.photo-al-ed-action {
  text-decoration: none;
  border-bottom: 1px dashed #567FDD;
  cursor: pointer;
  font-family: Verdana;
  font-size: 11px !important;
  font-weight: normal !important;
  margin: 2px;
  white-space: nowrap !important;
  float: right;
}
div.photo-ed-al-item-params input.search-tags {
  width: 300px;
}
div.photo-ed-al-item-params input.photo-al-ed-item-check {
  position: absolute;
  right: -25px;
  top: 16px;
}
div.photo-ed-al-show-more {
  text-align: center;
  background-color: #EBEBEB;
  padding: 6px;
}
div.photo-ed-al-show-more-loading span {
  display: none !important;
}
div.photo-ed-al-show-more-loading div.photo-wait {
  display: block !important;
}
div.photo-ed-al-show-more span {
  border-width: 0 !important;
  color: #567FDD;
  text-decoration: none;
  white-space: nowrap !important;
  font-family: Verdana;
  font-size: 13px !important;
  font-weight: bold !important;
  cursor: pointer;
  display: block;
}
div.photo-wait {
  background: url("/bitrix/js/main/core/images/wait.gif") transparent no-repeat center center;
  width: 19px;
  height: 19px;
  display: none;
  margin-left: 45%;
}
div.photo-al-ed-rotate {
  width: 16px;
  height: 16px;
  float: right;
  cursor: pointer;
  margin: 0 2px 0 0;
}
div.photo-al-ed-rotate-l {
  background: url("images/arrow-l.png") transparent no-repeat center center;
}
div.photo-al-ed-rotate-r {
  background: url("images/arrow-r.png") transparent no-repeat center center;
}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted {
  background: #ffffdf;
  width: 100%;
}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted .photo-ed-al-item-thumb,
div.photo-ed-al-items-list div.photo-ed-al-item-deleted div.photo-ed-al-item-params {
  display: none !important;
}
a.photo-al-ed-action-restore {
  display: none;
  margin-right: 30px;
}
div.photo-ed-al-items-list div.photo-ed-al-item-deleted a.photo-al-ed-action-restore {
  display: block !important;
}
.photo-rotate-90 {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
.photo-rotate-180 {
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.photo-rotate-270 {
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.photo-rotate-ie9-90 {
  -ms-transform: rotate(90deg);
}
.photo-rotate-ie9-180 {
  -ms-transform: rotate(180deg);
}
.photo-rotate-ie9-270 {
  -ms-transform: rotate(270deg);
}
div.photo-ed-al-group-actions {
  text-align: right;
  padding: 5px 14px;
  float: right;
}
.photo-ed-al-sel-all {
  color: #666666;
  cursor: pointer;
  font-family: Verdana;
  font-size: 11px !important;
  text-decoration: underline;
}
.photo-ed-al-sel-all .photo-ed-al-desel {
  display: none;
}
.photo-ed-al-desel-all .photo-ed-al-sel {
  display: none;
}
.photo-ed-al-desel-all .photo-ed-al-desel {
  display: inline;
}
.photo-ed-al-gract-del,
.photo-ed-al-gract-move {
  color: #567FDD;
  cursor: pointer;
  font-family: Verdana;
  font-size: 11px !important;
  text-decoration: none;
  border-bottom: 1px dotted #567FDD;
  margin: 0 5px;
}
.photo-ed-al-move-popup {
  background: #FFFFFF;
  border: 1px solid #666666;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.photo-ed-al-move-popup a {
  display: block;
  margin: 0;
  white-space: nowrap;
  padding: 3px 6px;
  text-decoration: none;
}
.photo-ed-al-move-popup a:hover {
  background-color: #EBEBEB;
}
/* Additional section (date and password fields)*/
div.photo-al-ed-add-set {
  float: left;
  width: 400px;
}
div.photo-al-ed-add-set span.photo-al-ed-add-link {
  display: block;
  margin: 5px 0 4px;
  float: left;
}
div.photo-al-ed-add-set div.photo-al-ed-add-cont {
  margin: 5px 0 4px;
  width: 98%;
  float: left;
}
div.photo-al-ed-add-set span.photo-al-ed-add-link span {
  color: #666666;
  text-decoration: underline;
  cursor: pointer;
  font-family: Verdana;
  font-size: 12px !important;
  font-weight: normal !important;
  float: left;
}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-hiden,
div.photo-al-ed-add-hidden div.photo-al-ed-add-cont {
  display: none !important;
}
div.photo-al-ed-add-set span.photo-al-ed-add-link span.bxph-showed {
  display: none !important;
}
div.photo-al-ed-add-hidden span.photo-al-ed-add-link span.bxph-showed {
  display: block !important;
}
input.photo-al-ed-use-pass {
  display: block;
  float: left;
  height: 10px !important;
  line-height: 8px !important;
  margin: 8px 0 0;
}
div.bxph-pass-cont {
  float: left;
  margin: 5px 0 0 0 !important;
  height: 26px;
}
div.bxph-pass-cont .bxph-colon,
div.bxph-pass-cont input.bxph-pass-field {
  display: none;
}
div.bxph-show-pass-cont .bxph-colon {
  display: inline !important;
}
div.bxph-show-pass-cont input.bxph-pass-field {
  display: inline-block !important;
  margin: 2px 0 0 0 !important;
}
div.photo-window-edit table {
  width: 99%;
}
div.photo-window-edit table thead {
  display: none;
}
div.photo-edit-field-title input {
  width: 80%;
}
div.photo-edit-field-description textarea {
  width: 100%;
  height: 10em;
}
div.photo-edit-field {
  padding: 0.7em 0 0.3em 0.3em;
}
div.photo-edit-field-title label,
div.photo-edit-field-tags label,
div.photo-edit-field-description label,
div.photo-edit-field-date label {
  display: block;
  margin-bottom: 0.2em;
}
div.photo-edit-field-image {
  position: relative;
  float: left;
  padding: 0px;
  margin: 0px 5px 5px 0px !important;
  border: none;
}
div.photo-edit-field-image input {
  position: absolute;
  z-index: 1000;
  top: 2px;
  left: 2px;
}
div.photo-edit-field-image img {
  cursor: pointer;
  cursor: hand;
}
/********************************************************************
				Album  styles/
********************************************************************/
/********************************************************************
				Photo styles
********************************************************************/
/************** Controls on list photo *****************************/
li.photo-control-photo-selectall span,
li.photo-control-photo-drop span,
li.photo-control-photo-moderate span {
  padding-right: 1em;
  border-right: 1px solid;
}
li.photo-control-photo-move select {
  width: 12em;
  margin-left: 0.5em;
}
/************** Controls on detail photo ***************************/
div.photo-controls-photo ul {
  height: auto;
}
div.photo-controls-photo li {
  float: none;
}
/************** Photographies **************************************/
div.group-by-days {
  clear: both;
  padding-bottom: 1em;
}
table.photo-photo-item {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
table.photo-photo-item td,
table.photo-photo-item th {
  border: none;
  margin: 0;
  padding: 0;
}
div.photo-photo-name {
  font-weight: bold;
}
/* Photo .Default */
table.photo-photo-item-default td.photo-photo-info div.photo-photo-comments {
  line-height: 1em;
  height: 1.2em;
  overflow: hidden;
  font-size: 11px;
  padding-left: 3px;
}
table.photo-photo-item-default div.photo-photo-item-inner {
  padding: 3px;
  vertical-align: top;
}
/* Photo Table */
table.photo-photo-item-table {
  border: 1px solid;
}
table.photo-photo-item-table th.photo-photo-image {
  padding: 1em 1em 0 1em;
}
table.photo-photo-item-table div.photo-photo-name,
table.photo-photo-item-table div.photo-photo-rating,
table.photo-photo-item-table div.photo-photo-rating div,
table.photo-photo-item-table div.photo-photo-comments,
table.photo-photo-item-table div.photo-photo-shows {
  overflow: hidden;
  white-space: nowrap;
  line-height: 1em;
  height: 1.2em;
}
table.photo-photo-item-table tfoot td.photo-photo-info {
  padding: 1em;
  vertical-align: top;
}
table.photo-photo-item-table div.photo-photo-item-block-inner {
  border: 1px solid;
}
table.photo-photo-item-table div.photo-photo-info {
  margin-top: 1em;
}
/* Photo Ascetic */
div.photo-photo-item-ascetic {
  padding: 2px;
  float: left;
  margin: 0 4px 4px 0;
}
a.photo-photo-item-ascetic-inner {
  overflow: hidden;
  display: block;
}
/************** Popup div To Detail to around Slider ***************/
div.photo-photo-item-popup {
  cursor: pointer;
  cursor: hand;
  background-position: left top;
  background-repeat: no-repeat;
  zoom: 1;
  z-index: 1100;
  visibility: visible;
  display: block;
  width: 20px;
  height: 20px;
}
div.photo-detail-img div.photo-photo-item-popup {
  display: none !important;
}
/************** Photo navigation on detail page ********************/
div.photo-detail {
  margin-bottom: 1.5em;
}
div.photo-photo-info div.vote-no-results {
  display: block;
}
div.photo-detail-image {
  float: left;
}
div.photo-photo-info div.photo-photo-date {
  padding-top: 0.38em;
}
div.photo-photo-info div.photo-photo-description {
  margin-top: 1em;
  padding-top: 0.5em;
}
div.photo-photo-tags {
  padding-top: 0.5em;
}
div.photo-photo-rating {
  padding-top: 2em;
}
div.photo-controls-photo {
  margin-top: 2em;
}
div.photo-detail-image {
  padding-right: 1em;
}
div.photo-photo-date,
div.photo-photo-tags,
div.photo-photo-tags a {
  font-size: 11px;
}
div.photo-photo-info #photo_vote td.vote-result {
  width: 100px;
  overflow: hidden;
}
/********************************************************************
				/ Photo styles
********************************************************************/
/********************************************************************
				Gallery
********************************************************************/
div.photo-gallery-name {
  white-space: nowrap;
}
div.photo-gallery-avatar {
  display: none;
}
/************** Ascetic Gallery ************************************/
ul.photo-galleries-list-ascetic,
ul.photo-galleries-list-ascetic li.photo-gallery-item {
  margin: 0;
  padding: 0;
  border: none;
  list-style-type: none;
}
ul.photo-galleries-list-ascetic li.photo-gallery-item {
  width: 30em;
  margin-right: 1em;
  margin-bottom: 1em;
  float: left;
  height: 6.2em;
  overflow: hidden;
}
ul.photo-galleries-list-ascetic div.photo-gallery-description {
  line-height: 1.5em;
  height: 4.5em;
}
/************** Default Gallery ************************************/
div.photo-gallery-item div.photo-control {
  float: left;
  line-height: 1.7em;
  height: 1.7em;
  padding-left: 0.7em;
}
ul.photo-galleries-list li.photo-gallery-item {
  padding-bottom: 1em;
}
div.photo-controls-gallery-edit {
  margin-top: 0.5em;
}
/************** Galleries ******************************************/
li.photo-gallery-item td.photo-item-cover {
  display: none;
}
div.photo-gallery-empty a {
  text-decoration: none;
}
/************** Gallery Edit ***************************************/
div.photo-edit-fields-gallery i {
  display: block;
  font-size: 90%;
  width: 80%;
  color: gray;
}
div.photo-edit-fields-gallery div.photo-edit-field-avatar {
  /*display: none;*/
}
div.photo-edit-fields-gallery div.photo-edit-field-code input {
  width: 50%;
}
div.photo-edit-fields-gallery div.photo-edit-field-title input {
  width: 80%;
}
div.photo-edit-fields-gallery div.photo-edit-field-description textarea {
  width: 80%;
  height: 10em;
}
div.photo-edit-fields-gallery div.photo-edit-field {
  padding: 0.7em 0 0.5em 0.3em;
}
div.photo-edit-fields-gallery div.photo-edit-field-code label,
div.photo-edit-fields-gallery div.photo-edit-field-title label,
div.photo-edit-fields-gallery div.photo-edit-field-avatar label,
div.photo-edit-fields-gallery div.photo-edit-field-description label {
  display: block;
  margin-bottom: 0.2em;
}
/********************************************************************
				/ Gallery
********************************************************************/
/************** Search Page ****************************************/
div.photo-page-search div.photo-info-box-tags-cloud {
  width: 20em;
}
/************** Progress bar ***************************************/
div.pbar-mark,
div.pbar-mark-green {
  width: 17px;
  height: 17px;
  background-repeat: no-repeat;
  padding: 0px;
}
div.pbar-mark-green {
  background-image: url(/bitrix/themes/.default/images/pbar/kv_green.gif);
}
div.pbar-outer {
  padding: 1px;
  margin: 0px;
  border: 1px solid #8e99be;
  display: block;
  position: relative;
  top: 0px;
  width: 350px;
  height: 13px;
  overflow: hidden;
  white-space: nowrap;
}
div.pbar-inner,
div.pbar-inner-red,
div.pbar-inner-green,
div.pbar-inner-yellow,
div.pbar-inner-red-error,
div.pbar-inner-green-error,
div.pbar-inner-yellow-error {
  padding: 0px;
  margin: 0px;
  border: none;
  display: inline;
  height: 13px;
  background-repeat: repeat-x;
}
div.pbar-inner-green {
  background-image: url(/bitrix/themes/.default/images/pbar/bar_green.gif);
}
div.pbar-inner-green-error {
  background-image: url(/bitrix/themes/.default/images/pbar/bar_green_err.gif);
}
div.pbar-title-outer {
  padding: 0px;
  margin: 0px;
  display: block;
  position: relative;
  top: 0px;
  border: none;
  width: 350px;
}
div.pbar-title-inner {
  padding: 0px 10px;
  width: 100%;
  text-align: center;
}
div.photo-page-galleries-recalc div.photo-info-box {
  margin-bottom: 1em;
}
.header-detail_gallery .header-detail__title {
  line-height: 37px !important;
}
.category-icon_1 {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALAQMAAACTYuVlAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABlBMVEX///////9VfPVsAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAdSURBVAjXY/j/gKFBgWH7Aob2BQgSKLIfTP5/AADfcw1RC1xhegAAAABJRU5ErkJggg==');
}
.category-icon_2 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAMAAABlXnzoAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAApVBMVEX////x8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/bx8/b///8Kk3aYAAAANXRSTlMAJTgyHgMLCiNw8+Gch69+cus2KuW1DGL9Zw6y4vgrMel5L1aKjZF2HPwwBdLAB0V0mfAaUkB4HpkAAAABYktHRACIBR1IAAAACXBIWXMAAAsSAAALEgHS3X78AAAAbUlEQVQI12NgYGBkYmZhZWBjYWcAAg5OLlNTbh5ePm5+EFfAFAYEhYBcYRE4X1QMyBeXgPMlgVwpaSBDRgbElZUD8uUVTBWVlJRVVNXUNUCm8WpqMSABbR1dPWS+vqkBMpfB0EgOmWusawJhAACIoQ3mCyuUOQAAAABJRU5ErkJggg==);
}
.category-icon_3 {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAMAAABstdySAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAQlBMVEX///////////////////////////////////////////////////////////////////////////////////////8Alm/HAAAAFXRSTlMAAgdbGDe8wY5yJxF0gjvuuObhR9x7uKasAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAENJREFUCNdFzNsCgBAURNERSkap8P+/2lEu+2nNywCSwmjRXcauTZvb/QcyHCdJYWnJ6IxlEJOcjBfuX488pFyVE/ACAgkFr2jIk6MAAAAASUVORK5CYII=);
}
.review-post__item {
  background-color: #f1f3f6;
  padding: 15px 15px 20px;
  margin-bottom: 15px;
}
.photo-comment-avatar {
  border: none !important;
}
.photo-comment-avatar .photo-comment-avatar-inner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}
.photo-comment-name {
  font-weight: bold;
  margin-bottom: 10px;
}
.photo-comment-name a {
  text-decoration: none;
}
.photo-comment-name span {
  border-bottom: 1px solid rgba(40, 40, 40, 0.5);
}
