.date-control-icon_inv {
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANAgMAAADgR2fRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX///////9MTNgjsO2nAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfSURBVAjXYwgNDWUAYRAAszOXQjCQHQWko+BsCAayAVDnDcG5wJE6AAAAAElFTkSuQmCC');
  margin-left: -12px;
  margin-right: 0;
}
.page-action__content_board div.adm-fileinput-item div.adm-fileinput-item-preview {
  max-width: 100%;
  max-height: 80px;
}
.page-action__content_board .adm-fileinput-btn-panel {
  display: none;
}
.page-action__content_board .adm-fileinput-area-container div.adm-fileinput-item-wrapper {
  min-width: 165px;
  width: 23%;
  margin-right: 2%;
}
.page-action__content_board .adm-fileinput-area {
  min-height: 100px;
}
