.news-filter {
  display: flex;
  flex-wrap: wrap;
  @media all and (min-width: 768px) {
    display: block;
  }
  form {
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    .inputselect {
      margin-right: 15px;
      max-width: 200px;
      background-color: #0000c8;
      margin-top: 10px;
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 20px;
  }
}

.news-filter-header {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  @media all and (min-width: 1360px) {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.news-filter-text {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  @media all and (min-width: 768px) {
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.date-control {
  position: relative;
  padding-right: 17px;
  background: none;
  padding-left: 5px;
  border-bottom: 2px solid #fff !important;
  color: #fff;
  width: 100%;
  @media all and (min-width: 768px) {
    max-width: 100px !important;
  }
}

.date-control-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANAgMAAADgR2fRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAACVBMVEX///////9MTNgjsO2nAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfSURBVAjXYwgNDWUAYRAAszOXQjCQHQWko+BsCAayAVDnDcG5wJE6AAAAAElFTkSuQmCC');
  margin-left: -12px;
  margin-right: 0;
  @media all and (min-width: 768px) {
    margin-right: 5px;
  }
}

.reset-filter {
  span {
    color: #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  }
  &:hover {
    span {
      border-bottom: none;
    }
  }

}