.ilike-light {
  position: relative !important;
  display: inline-block;
  width: 24px;
  margin-right: 10px;
  float: left;
  &:hover {
    .bx-ilike-right-wrap {
      display: block;
    }
  }
}
.bx-ilike-icon {
  display: none !important;
}
.bx-ilike-right-wrap {
  display: none;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #e0e2e5;
  padding: 1px 3px;
  min-width: 24px;
  text-align: center;
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -4px;
    width: 8px;
    height: 4px;
    border-top: 4px solid #e0e2e5;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
  }
}
.bx-ilike-right {
  padding: 0 !important;
}