.birthday-date {
  &__wrap {
    margin-bottom: 30px;
  }
  &__title {
    border-bottom: 1px solid lightgray;
    margin-bottom: 0;
    small {
      font-size: 16px;
    }
  }
}

.sonet-members {
  &-item {
    margin-top: 10px;
  }
  &-member-block {
    padding-top: 25px;
  }
  &-member-img {
    width: 42px;
    height: 42px;
    background-size: cover;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
  }
  &-member-link {
    text-decoration: underline;
    color: #000;
    font-weight: 600;
  }

  &-command-block {
    margin-top: 6px;
    width: 95%;
    padding-bottom: 25px;
    //border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: flex-end;
    @media all and (min-width: 768px) {
      display: block;
    }
  }

  &-command {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 11px;
    margin-right: 10px;
    color: #0000c8 !important;
    line-height: 25px;
    border-bottom: 1px solid rgba(0, 0, 200, 0.5);
  }
}


