.birthday-date__wrap {
  margin-bottom: 30px;
}
.birthday-date__title {
  border-bottom: 1px solid lightgray;
  margin-bottom: 0;
}
.birthday-date__title small {
  font-size: 16px;
}
.sonet-members-item {
  margin-top: 10px;
}
.sonet-members-member-block {
  padding-top: 25px;
}
.sonet-members-member-img {
  width: 42px;
  height: 42px;
  background-size: cover;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 50%;
}
.sonet-members-member-link {
  text-decoration: underline;
  color: #000;
  font-weight: 600;
}
.sonet-members-command-block {
  margin-top: 6px;
  width: 95%;
  padding-bottom: 25px;
  display: flex;
  justify-content: flex-end;
}
@media all and (min-width: 768px) {
  .sonet-members-command-block {
    display: block;
  }
}
.sonet-members-command {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 10px;
  color: #0000c8 !important;
  line-height: 25px;
  border-bottom: 1px solid rgba(0, 0, 200, 0.5);
}
