.baron__clipper {
    position: relative;
    overflow: hidden;
}
.baron__scroller {
    overflow-y: scroll;
    -ms-overflow-style: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
    padding: 0 15px 15px 15px !important;
    margin: 0;
    /*width: 100%;*/
    height: 100%;
    -webkit-overflow-scrolling: touch;
    /* remove line to customize scrollbar in iOs */
}

.baron__scroller::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.baron__track {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.baron._scrollbar .baron__track {
    display: block;
}
.baron__free {
    display: none;
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 12px;
    background-color: #d6d6e7;
    border-radius: 3px;
    width: 6px;
}
.baron__bar {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 6px;

    background-color: #0000c8;
    border-radius: 3px;
}
.baron._scrollbar .baron__bar {
    display: block;
}
.baron__control {
    display: none;
}
._scrollbar .baron__free {
    display: none;
}
@media only screen and (min-width: 768px) {
    .baron__scroller {
        padding: 20px 47px 20px 30px !important;
        margin: 0 -17px  auto 0;
    }
  ._scrollbar .baron__free {
    display: block;
  }
}