@font-face {
  font-family: 'susu-icons';
  src: url('fonts/susu-icons.eot?qba767');
  src: url('fonts/susu-icons.eot?qba767#iefix') format('embedded-opentype'), url('fonts/susu-icons.ttf?qba767') format('truetype'), url('fonts/susu-icons.woff?qba767') format('woff'), url('fonts/susu-icons.svg?qba767#susu-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'susu-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #0000c8;
}
.icon-cooperation:before {
  content: "\e925";
}
.icon-needspec:before {
  content: "\e926";
}
.icon-gratis:before {
  content: "\e927";
}
.icon-away:before {
  content: "\e91e";
}
.icon-celebration:before {
  content: "\e920";
}
.icon-conference:before {
  content: "\e922";
}
.icon-other:before {
  content: "\e923";
}
.icon-teambuilding:before {
  content: "\e924";
}
.icon-coffee:before {
  content: "\e90e";
}
.icon-photo:before {
  content: "\e912";
}
.icon-burger:before {
  content: "\e903";
}
.icon-messages:before {
  content: "\e901";
}
.icon-ads:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-documents:before {
  content: "\e904";
}
.icon-exit:before {
  content: "\e905";
}
.icon-file:before {
  content: "\e906";
}
.icon-filter:before {
  content: "\e907";
}
.icon-flag:before {
  content: "\e908";
}
.icon-heart:before {
  content: "\e909";
}
.icon-honor:before {
  content: "\e90a";
}
.icon-idea:before {
  content: "\e90b";
}
.icon-image:before {
  content: "\e90c";
}
.icon-like:before {
  content: "\e90d";
}
.icon-news:before {
  content: "\e90f";
}
.icon-note:before {
  content: "\e910";
}
.icon-notify:before {
  content: "\e911";
}
.icon-search:before {
  content: "\e913";
}
.icon-service:before {
  content: "\e914";
}
.icon-share:before {
  content: "\e915";
}
.icon-staff:before {
  content: "\e916";
}
.icon-star:before {
  content: "\e917";
}
.icon-structure:before {
  content: "\e918";
}
.icon-u:before {
  content: "\e919";
}
.icon-newspaper:before {
  content: "\e91a";
}
.icon-pencil:before {
  content: "\e91b";
}
.icon-music:before {
  content: "\e91c";
}
.icon-film:before {
  content: "\e91d";
}
.icon-book:before {
  content: "\e91f";
}
.icon-library:before {
  content: "\e921";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-tie:before {
  content: "\e976";
}
.icon-stats:before {
  content: "\e99b";
}
.icon-lab:before {
  content: "\e9aa";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-accessibility:before {
  content: "\e9b2";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
