@icomoon-font-path: "fonts";

@icon-cooperation: "\e925";
@icon-needspec: "\e926";
@icon-gratis: "\e927";
@icon-away: "\e91e";
@icon-celebration: "\e920";
@icon-conference: "\e922";
@icon-other: "\e923";
@icon-teambuilding: "\e924";
@icon-coffee: "\e90e";
@icon-photo: "\e912";
@icon-burger: "\e903";
@icon-messages: "\e901";
@icon-ads: "\e900";
@icon-calendar: "\e902";
@icon-documents: "\e904";
@icon-exit: "\e905";
@icon-file: "\e906";
@icon-filter: "\e907";
@icon-flag: "\e908";
@icon-heart: "\e909";
@icon-honor: "\e90a";
@icon-idea: "\e90b";
@icon-image: "\e90c";
@icon-like: "\e90d";
@icon-news: "\e90f";
@icon-note: "\e910";
@icon-notify: "\e911";
@icon-search: "\e913";
@icon-service: "\e914";
@icon-share: "\e915";
@icon-staff: "\e916";
@icon-star: "\e917";
@icon-structure: "\e918";
@icon-u: "\e919";
@icon-newspaper: "\e91a";
@icon-pencil: "\e91b";
@icon-music: "\e91c";
@icon-film: "\e91d";
@icon-book: "\e91f";
@icon-library: "\e921";
@icon-users: "\e972";
@icon-user-tie: "\e976";
@icon-stats: "\e99b";
@icon-lab: "\e9aa";
@icon-briefcase: "\e9ae";
@icon-accessibility: "\e9b2";
@icon-star-full: "\e9d9";
@icon-plus: "\ea0a";
@icon-minus: "\ea0b";
@icon-cross: "\ea0f";
@icon-checkmark: "\ea10";
@icon-file-pdf: "\eadf";
@icon-file-word: "\eae1";
@icon-file-excel: "\eae2";



@font-face {
  font-family: 'susu-icons';
  src:  url('@{icomoon-font-path}/susu-icons.eot?qba767');
  src:  url('@{icomoon-font-path}/susu-icons.eot?qba767#iefix') format('embedded-opentype'),
  url('@{icomoon-font-path}/susu-icons.ttf?qba767') format('truetype'),
  url('@{icomoon-font-path}/susu-icons.woff?qba767') format('woff'),
  url('@{icomoon-font-path}/susu-icons.svg?qba767#susu-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'susu-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #0000c8;
}

.icon-cooperation {
  &:before {
    content: @icon-cooperation;
  }
}
.icon-needspec {
  &:before {
    content: @icon-needspec;
  }
}
.icon-gratis {
  &:before {
    content: @icon-gratis;
  }
}
.icon-away {
  &:before {
    content: @icon-away;
  }
}
.icon-celebration {
  &:before {
    content: @icon-celebration;
  }
}
.icon-conference {
  &:before {
    content: @icon-conference;
  }
}
.icon-other {
  &:before {
    content: @icon-other;
  }
}
.icon-teambuilding {
  &:before {
    content: @icon-teambuilding;
  }
}
.icon-coffee {
  &:before {
    content: @icon-coffee;
  }
}
.icon-photo {
  &:before {
    content: @icon-photo;
  }
}
.icon-burger {
  &:before {
    content: @icon-burger;
  }
}
.icon-messages {
  &:before {
    content: @icon-messages;
  }
}
.icon-ads {
  &:before {
    content: @icon-ads;
  }
}
.icon-calendar {
  &:before {
    content: @icon-calendar;
  }
}
.icon-documents {
  &:before {
    content: @icon-documents;
  }
}
.icon-exit {
  &:before {
    content: @icon-exit;
  }
}
.icon-file {
  &:before {
    content: @icon-file;
  }
}
.icon-filter {
  &:before {
    content: @icon-filter;
  }
}
.icon-flag {
  &:before {
    content: @icon-flag;
  }
}
.icon-heart {
  &:before {
    content: @icon-heart;
  }
}
.icon-honor {
  &:before {
    content: @icon-honor;
  }
}
.icon-idea {
  &:before {
    content: @icon-idea;
  }
}
.icon-image {
  &:before {
    content: @icon-image;
  }
}
.icon-like {
  &:before {
    content: @icon-like;
  }
}
.icon-news {
  &:before {
    content: @icon-news;
  }
}
.icon-note {
  &:before {
    content: @icon-note;
  }
}
.icon-notify {
  &:before {
    content: @icon-notify;
  }
}
.icon-search {
  &:before {
    content: @icon-search;
  }
}
.icon-service {
  &:before {
    content: @icon-service;
  }
}
.icon-share {
  &:before {
    content: @icon-share;
  }
}
.icon-staff {
  &:before {
    content: @icon-staff;
  }
}
.icon-star {
  &:before {
    content: @icon-star;
  }
}
.icon-structure {
  &:before {
    content: @icon-structure;
  }
}
.icon-u {
  &:before {
    content: @icon-u;
  }
}
.icon-newspaper {
  &:before {
    content: @icon-newspaper;
  }
}
.icon-pencil {
  &:before {
    content: @icon-pencil;
  }
}
.icon-music {
  &:before {
    content: @icon-music;
  }
}
.icon-film {
  &:before {
    content: @icon-film;
  }
}
.icon-book {
  &:before {
    content: @icon-book;
  }
}
.icon-library {
  &:before {
    content: @icon-library;
  }
}
.icon-users {
  &:before {
    content: @icon-users;
  }
}
.icon-user-tie {
  &:before {
    content: @icon-user-tie;
  }
}
.icon-stats {
  &:before {
    content: @icon-stats;
  }
}
.icon-lab {
  &:before {
    content: @icon-lab;
  }
}
.icon-briefcase {
  &:before {
    content: @icon-briefcase;
  }
}
.icon-accessibility {
  &:before {
    content: @icon-accessibility;
  }
}
.icon-star-full {
  &:before {
    content: @icon-star-full;
  }
}
.icon-plus {
  &:before {
    content: @icon-plus;
  }
}
.icon-minus {
  &:before {
    content: @icon-minus;
  }
}
.icon-cross {
  &:before {
    content: @icon-cross;
  }
}
.icon-checkmark {
  &:before {
    content: @icon-checkmark;
  }
}
.icon-file-pdf {
  &:before {
    content: @icon-file-pdf;
  }
}
.icon-file-word {
  &:before {
    content: @icon-file-word;
  }
}
.icon-file-excel {
  &:before {
    content: @icon-file-excel;
  }
}

