.tabs-menu {
  margin-bottom: 20px;
  ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-left: 0;
    @media all and (min-width: 768px) {
      flex-wrap: nowrap;
    }
    li {
      display: flex;
      flex: 1 1 100%;
      width: 100%;
      align-items: center;
      position: relative;
      border: 1px solid #0000c8;
      @media all and (min-width: 768px) {
        flex-wrap: nowrap;
        flex: 1;
        border: 2px solid #0000c8;
      }
      a {
        text-align: center;
        display: block;
        width: 100%;
        color: #0000c8;
        text-transform: uppercase;
        padding: 8px 6px;
        font-size: 11px;
        font-weight: 700;
        text-decoration: none;
      }
      &:hover, &.selected {
        background-color: #0000c8;
        a {
          color: #fff;
          text-decoration: none;
        }
      }
      &.selected:after {
        content: "";
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -9px;
        width: 14px;
        height: 8px;
        border-top: 8px solid #0000c8;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        box-sizing: border-box;
        @media all and (min-width: 768px) {
          display: block;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid #0000c8;
        @media all and (min-width: 768px) {
          border-right: none;
        }
      }
    }
  }
}