.tabs-menu {
  margin-bottom: 20px;
}
.tabs-menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-left: 0;
}
@media all and (min-width: 768px) {
  .tabs-menu ul {
    flex-wrap: nowrap;
  }
}
.tabs-menu ul li {
  display: flex;
  flex: 1 1 100%;
  width: 100%;
  align-items: center;
  position: relative;
  border: 1px solid #0000c8;
}
@media all and (min-width: 768px) {
  .tabs-menu ul li {
    flex-wrap: nowrap;
    flex: 1;
    border: 2px solid #0000c8;
  }
}
.tabs-menu ul li a {
  text-align: center;
  display: block;
  width: 100%;
  color: #0000c8;
  text-transform: uppercase;
  padding: 8px 6px;
  font-size: 11px;
  font-weight: 700;
  text-decoration: none;
}
.tabs-menu ul li:hover,
.tabs-menu ul li.selected {
  background-color: #0000c8;
}
.tabs-menu ul li:hover a,
.tabs-menu ul li.selected a {
  color: #fff;
  text-decoration: none;
}
.tabs-menu ul li.selected:after {
  content: "";
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -9px;
  width: 14px;
  height: 8px;
  border-top: 8px solid #0000c8;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  box-sizing: border-box;
}
@media all and (min-width: 768px) {
  .tabs-menu ul li.selected:after {
    display: block;
  }
}
.tabs-menu ul li:not(:last-child) {
  border-right: 1px solid #0000c8;
}
@media all and (min-width: 768px) {
  .tabs-menu ul li:not(:last-child) {
    border-right: none;
  }
}
