.news-filter__text {
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
@media all and (min-width: 1440px) {
  .news-filter__text {
    width: auto;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.news-filter form {
  margin: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.news-filter__line {
  width: 100%;
}
@media all and (min-width: 768px) {
  .news-filter__line {
    width: auto;
  }
}
.reset-filter {
  display: flex;
  justify-content: flex-end;
}
.reset-filter span {
  border-bottom: 1px dashed rgba(40, 40, 40, 0.5);
}
.reset-filter span:hover {
  border-bottom-color: transparent;
}
.filter-button {
  margin-left: 10px;
  margin-top: 10px;
}
@media all and (min-width: 768px) {
  .filter-button {
    margin-top: 0;
  }
}
.date-control {
  position: relative;
  padding-right: 17px;
  background: none;
  padding-left: 5px;
  max-width: 100px;
  width: 100%;
}
@media all and (min-width: 768px) {
  .date-control {
    width: auto;
  }
}
.date-control-icon {
  content: "";
  display: inline-block;
  width: 12px;
  height: 13px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAANAgMAAADgR2fRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAADFBMVEUAAMgAAMizs+/////k6MxMAAAAAXRSTlMAQObYZgAAAAFiS0dEAxEMTPIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAfSURBVAjXYwgNDWUAYRAAszOXQjCQHQWko+BsCAayAVDnDcG5wJE6AAAAAElFTkSuQmCC');
  margin-left: -12px;
  margin-right: 0;
}
@media all and (min-width: 768px) {
  .date-control-icon {
    margin-right: 5px;
  }
}
.board-filter .checkmark .checkmark__icon {
  background-color: #0000c8;
  color: #f1f3f6;
}
