.board-of-honor {
  h2 {
    font-size: 24px;
    margin-bottom: 5px;
    margin-top: 0;
  }
  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.bh-level {
  margin-bottom: 30px;
  &__title {
    font-size: 10vw;
    @media all and (min-width: 1400px) {
      font-size: 60px;
    }
    font-weight: 500;
    display: flex;
    align-items: center;
  }
  &__desc {
    display: flex;
    align-items: center;
  }
}

.bh-nom {
  font-weight: 400;
  margin-bottom: 20px;
  &__title {
    font-size: 24px;
  }
  &__desc {
  }
}

.bh-users {
  margin-bottom: 0;
  @media all and (min-width: 768px) {
    margin-bottom: 60px;
  }
}

.bh-user {
  position: relative;
  margin-bottom: 30px;
  &__avatar {
    min-height: 270px;
    max-width: 194px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__name {
    position: absolute;
    bottom: 15px;
    font-size: 24px;
    line-height: 30px;
    p {
      display: inline-block;
      background-color: #0000c8;
      color: #fff;
      margin-bottom: 2px;
      padding: 0 8px;
      margin-left: 15px;
    }
  }
}