.board-of-honor h2 {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 0;
}
.board-of-honor h3 {
  font-size: 18px;
  margin-bottom: 5px;
}
.bh-level {
  margin-bottom: 30px;
}
.bh-level__title {
  font-size: 10vw;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media all and (min-width: 1400px) {
  .bh-level__title {
    font-size: 60px;
  }
}
.bh-level__desc {
  display: flex;
  align-items: center;
}
.bh-nom {
  font-weight: 400;
  margin-bottom: 20px;
}
.bh-nom__title {
  font-size: 24px;
}
.bh-users {
  margin-bottom: 0;
}
@media all and (min-width: 768px) {
  .bh-users {
    margin-bottom: 60px;
  }
}
.bh-user {
  position: relative;
  margin-bottom: 30px;
}
.bh-user__avatar {
  min-height: 270px;
  max-width: 194px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.bh-user__name {
  position: absolute;
  bottom: 15px;
  font-size: 24px;
  line-height: 30px;
}
.bh-user__name p {
  display: inline-block;
  background-color: #0000c8;
  color: #fff;
  margin-bottom: 2px;
  padding: 0 8px;
  margin-left: 15px;
}
