.news-item {
  padding: 16px 0;
  border-bottom: 1px solid #f1f3f6;
  color: #282828;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.news-item__img {
  float: left;
  width: 360px;
  margin-left: 0;
  margin-right: 24px;
  img {
    width: 100%;
  }

}

.news-item__date {
  color: #82899c;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
}

.news-item__title {

  margin-top: 0;
  span {
    color: #282828;
    font-size: 24px;
    border-bottom: 1px solid rgba(40, 40, 40, 0.5);
  }
}

.news-item_odd {
  .news-item__img {
    float: right;
    margin-right: 0;
    margin-left: 24px;
  }
  .news-item__info {

  }
}