.news-detail__header {
  display: flex;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f3f6;
}
.news-detail__header-col {
  display: flex;
  align-items: center;
}
.news-detail__header-col_title {
  padding-top: 0 !important;
  padding-right: 20px;
  display: block;
  flex: 1;
}
.news-detail__header-col a {
  margin-right: 10px;
  display: inline-block;
}
.news-detail__date {
  color: #82899c;
  font-size: 10px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.news-detail__title {
  font-size: 24px;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
}
.news-detail__preview-text {
  font-size: 18px;
}
