.news-detail {
  &__header {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f3f6;
    &-col {
      //padding-top: 30px;
      display: flex;
      align-items: center;
      &_title {
        padding-top: 0 !important;
        padding-right: 20px;
        display: block;
        flex: 1;
      }
      a {
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
  &__date {
    color: #82899c;
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  &__title {
    font-size: 24px;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__preview-text {
    font-size: 18px;
  }
}
